nodered.flow
[{"id":"4f600333.9e298c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"84a63b6e.0e6e28","type":"mqtt out","z":"4f600333.9e298c","name":"","topic":"M1.SPEED","qos":"0","retain":"","broker":"9c0a9c3f.72b18","x":650,"y":220,"wires":[]},{"id":"69c2c978.0a7d88","type":"ui_slider","z":"4f600333.9e298c","name":"","label":"SPEED","tooltip":"","group":"63358116.a63c","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"10000","max":"50000","step":"1000","x":460,"y":220,"wires":[["84a63b6e.0e6e28"]]},{"id":"f946fed3.e50cb","type":"mqtt in","z":"4f600333.9e298c","name":"","topic":"M1.RBV","qos":"2","datatype":"auto","broker":"9c0a9c3f.72b18","x":460,"y":520,"wires":[["96245851.007348"]]},{"id":"96245851.007348","type":"ui_text","z":"4f600333.9e298c","group":"63358116.a63c","order":4,"width":0,"height":0,"name":"","label":"RBV","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":520,"wires":[]},{"id":"aa74217f.37a25","type":"mqtt out","z":"4f600333.9e298c","name":"","topic":"STOP","qos":"0","retain":"","broker":"9c0a9c3f.72b18","x":330,"y":160,"wires":[]},{"id":"fc48ec5f.5a3f8","type":"ui_button","z":"4f600333.9e298c","name":"","group":"63358116.a63c","order":6,"width":0,"height":0,"passthru":false,"label":"300000","tooltip":"","color":"","bgcolor":"","icon":"","payload":"300000","payloadType":"num","topic":"","x":460,"y":340,"wires":[["b2c576e4.9ea388"]]},{"id":"b2c576e4.9ea388","type":"mqtt out","z":"4f600333.9e298c","name":"","topic":"M1.POS","qos":"0","retain":"","broker":"9c0a9c3f.72b18","x":640,"y":340,"wires":[]},{"id":"e62596bc.d6dc28","type":"ui_button","z":"4f600333.9e298c","name":"","group":"63358116.a63c","order":7,"width":0,"height":0,"passthru":false,"label":"600000","tooltip":"","color":"","bgcolor":"","icon":"","payload":"600000","payloadType":"num","topic":"","x":460,"y":400,"wires":[["5ddd1963.2fad38"]]},{"id":"5ddd1963.2fad38","type":"mqtt out","z":"4f600333.9e298c","name":"","topic":"M1.POS","qos":"0","retain":"","broker":"9c0a9c3f.72b18","x":640,"y":400,"wires":[]},{"id":"48f54dec.6ba814","type":"ui_button","z":"4f600333.9e298c","name":"","group":"63358116.a63c","order":5,"width":0,"height":0,"passthru":false,"label":"0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":470,"y":280,"wires":[["354786f1.cdb6da"]]},{"id":"354786f1.cdb6da","type":"mqtt out","z":"4f600333.9e298c","name":"","topic":"M1.POS","qos":"0","retain":"","broker":"9c0a9c3f.72b18","x":640,"y":280,"wires":[]},{"id":"e4a64732.44bfa8","type":"ui_button","z":"4f600333.9e298c","name":"","group":"63358116.a63c","order":8,"width":0,"height":0,"passthru":false,"label":"1200000","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1200000","payloadType":"num","topic":"","x":460,"y":460,"wires":[["98536e93.cd3bc"]]},{"id":"98536e93.cd3bc","type":"mqtt out","z":"4f600333.9e298c","name":"","topic":"M1.POS","qos":"0","retain":"","broker":"9c0a9c3f.72b18","x":640,"y":460,"wires":[]},{"id":"570e56ff.152188","type":"inject","z":"4f600333.9e298c","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.3","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":160,"wires":[["b2ce99a7.7f45a8"]]},{"id":"b2ce99a7.7f45a8","type":"mqtt out","z":"4f600333.9e298c","name":"","topic":"M1.SCAN","qos":"0","retain":"","broker":"9c0a9c3f.72b18","x":1060,"y":160,"wires":[]},{"id":"116b2fd2.ea1f2","type":"ui_button","z":"4f600333.9e298c","name":"","group":"63358116.a63c","order":2,"width":0,"height":0,"passthru":false,"label":"HOME","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":470,"y":160,"wires":[["25aa8aa7.d025a6"]]},{"id":"25aa8aa7.d025a6","type":"mqtt out","z":"4f600333.9e298c","name":"","topic":"M1.HOME","qos":"0","retain":"","broker":"9c0a9c3f.72b18","x":650,"y":160,"wires":[]},{"id":"cf800fae.7e27a","type":"ui_button","z":"4f600333.9e298c","name":"","group":"63358116.a63c","order":1,"width":0,"height":0,"passthru":false,"label":"STOP","tooltip":"","color":"white","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":160,"wires":[["aa74217f.37a25"]]},{"id":"9c0a9c3f.72b18","type":"mqtt-broker","z":"","name":"MQTT_localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"63358116.a63c","type":"ui_group","z":"","name":"Default","tab":"9c99782c.f10228","order":1,"disp":true,"width":"6","collapse":false},{"id":"9c99782c.f10228","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
