nodered.json
[
    {
        "id": "11799c79.eb1f94",
        "type": "tab",
        "label": "global",
        "disabled": false,
        "info": ""
    },
    {
        "id": "30b792f9.1f2dee",
        "type": "tab",
        "label": "M0",
        "disabled": false,
        "info": ""
    },
    {
        "id": "689779eb.671308",
        "type": "tab",
        "label": "M1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "999cc820.21fc58",
        "type": "tab",
        "label": "M2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b64919fd.2eda88",
        "type": "tab",
        "label": "M3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bf4e29d8.62d0f8",
        "type": "tab",
        "label": "M4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6402009.0989",
        "type": "tab",
        "label": "M5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f993115b.4aeee",
        "type": "tab",
        "label": "M6",
        "disabled": false,
        "info": ""
    },
    {
        "id": "16f335ac.26977a",
        "type": "tab",
        "label": "M7",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7042a3c5.55012c",
        "type": "tab",
        "label": "M8",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bc94169e.f793d8",
        "type": "tab",
        "label": "Overview",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dfe929ef.6df7d8",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT_localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "87c19ed9.910de",
        "type": "ui_tab",
        "z": "",
        "name": "Manipulator 1",
        "icon": "open_with",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4cc32132.0ec46",
        "type": "ui_group",
        "z": "",
        "name": "TMCM",
        "tab": "fb65fdd3.57124",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "e486589d.b784e8",
        "type": "ui_group",
        "z": "",
        "name": "M3",
        "tab": "a5cda823.04cab8",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true
    },
    {
        "id": "bcebfdda.e294b",
        "type": "ui_base",
        "z": "",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Verdana,Verdana,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Printed Axis Manipulator PAM",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 40,
                "sy": 36,
                "gx": 30,
                "gy": 10,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "177692aa.af6dcd",
        "type": "ui_group",
        "z": "",
        "name": "M5",
        "tab": "a5cda823.04cab8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "a5cda823.04cab8",
        "type": "ui_tab",
        "z": "",
        "name": "Manipulator 2",
        "icon": "motorcycle",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d1d91f2b.e84a7",
        "type": "ui_group",
        "z": "",
        "name": "M4",
        "tab": "a5cda823.04cab8",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": true
    },
    {
        "id": "b889f512.e1ec18",
        "type": "ui_group",
        "z": "",
        "name": "M0",
        "tab": "87c19ed9.910de",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true
    },
    {
        "id": "86850364.bdf55",
        "type": "ui_group",
        "z": "",
        "name": "M2",
        "tab": "87c19ed9.910de",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": true
    },
    {
        "id": "fb65fdd3.57124",
        "type": "ui_tab",
        "z": "",
        "name": "Config",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9a2e54a1.2e84a8",
        "type": "ui_group",
        "z": "",
        "name": "Epics",
        "tab": "fb65fdd3.57124",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "914d04e9.425078",
        "type": "ui_group",
        "z": "",
        "name": "M1",
        "tab": "87c19ed9.910de",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "c01f32ea.582c9",
        "type": "ui_group",
        "z": "",
        "name": "Connect",
        "tab": "87c19ed9.910de",
        "order": 4,
        "disp": false,
        "width": "19",
        "collapse": false
    },
    {
        "id": "b6e190ac.0480f",
        "type": "ui_group",
        "z": "",
        "name": "Connect",
        "tab": "a5cda823.04cab8",
        "order": 4,
        "disp": false,
        "width": "19",
        "collapse": false
    },
    {
        "id": "c23afc36.ac58f",
        "type": "ui_tab",
        "z": "",
        "name": "Overview",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e488bfac.368a6",
        "type": "ui_group",
        "z": "",
        "name": "Manipulator 1",
        "tab": "c23afc36.ac58f",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "cb8b6d6b.5b60c",
        "type": "ui_group",
        "z": "",
        "name": "Manipulator 2",
        "tab": "c23afc36.ac58f",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "3b88a5a.72e5c5a",
        "type": "ui_group",
        "z": "",
        "name": "Manipulator 3",
        "tab": "c23afc36.ac58f",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "6b658d6f.84b6b4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b6e190ac.0480f",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "5e93d1f2.e6478",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "e488bfac.368a6",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "a0c38457.012518",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "e488bfac.368a6",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "8dd42ae7.7a2c58",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "e488bfac.368a6",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "a4f28f14.257b8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "cb8b6d6b.5b60c",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "f05444d.38e4bb8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "cb8b6d6b.5b60c",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "48975dc7.78ef64",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "cb8b6d6b.5b60c",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "b522f3e5.ac707",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "3b88a5a.72e5c5a",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "4335717d.be0de",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "3b88a5a.72e5c5a",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "44a99f66.38242",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "3b88a5a.72e5c5a",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "3ee74af.58d6cb6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c01f32ea.582c9",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "4931828e.30b77c",
        "type": "ui_tab",
        "z": "",
        "name": "Manipulator 3",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7ef6477.b097ab8",
        "type": "ui_group",
        "z": "",
        "name": "M6",
        "tab": "4931828e.30b77c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9de4b683.ba3c08",
        "type": "ui_group",
        "z": "",
        "name": "M7",
        "tab": "4931828e.30b77c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ee19c29e.222e9",
        "type": "ui_group",
        "z": "",
        "name": "M8",
        "tab": "4931828e.30b77c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "73506ffc.c346d",
        "type": "ui_group",
        "z": "",
        "name": "Connect",
        "tab": "4931828e.30b77c",
        "order": 4,
        "disp": false,
        "width": "19",
        "collapse": false
    },
    {
        "id": "6b19d32b.814d8c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "73506ffc.c346d",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "4577b82e.0080e8",
        "type": "mqtt out",
        "z": "11799c79.eb1f94",
        "name": "",
        "topic": "SCAN",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 330,
        "y": 240,
        "wires": []
    },
    {
        "id": "b7863050.37949",
        "type": "inject",
        "z": "11799c79.eb1f94",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "4577b82e.0080e8"
            ]
        ]
    },
    {
        "id": "913eb23d.1b408",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.SPEED",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "3164ebe1.c14554",
        "type": "mqtt in",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 160,
        "y": 640,
        "wires": [
            [
                "7a412f80.f17da",
                "fa6bf9e1.601058",
                "89018d3a.eb8a2"
            ]
        ]
    },
    {
        "id": "1d6b417b.4525bf",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.POS",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 500,
        "wires": []
    },
    {
        "id": "e6986f95.490da",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.HOME",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "b97ace85.59c08",
        "type": "ui_button",
        "z": "6402009.0989",
        "name": "",
        "group": "177692aa.af6dcd",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "179200",
        "payloadType": "num",
        "topic": "",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "51ebdeb4.34e33"
            ]
        ]
    },
    {
        "id": "991d198d.a1b758",
        "type": "ui_button",
        "z": "6402009.0989",
        "name": "",
        "group": "177692aa.af6dcd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 430,
        "y": 140,
        "wires": [
            [
                "e6986f95.490da"
            ]
        ]
    },
    {
        "id": "2369b451.7c067c",
        "type": "ui_slider",
        "z": "6402009.0989",
        "name": "",
        "label": "SPEED",
        "tooltip": "",
        "group": "177692aa.af6dcd",
        "order": 8,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "x": 420,
        "y": 200,
        "wires": [
            [
                "913eb23d.1b408",
                "eca9b0ce.9e49f"
            ]
        ]
    },
    {
        "id": "7a412f80.f17da",
        "type": "ui_text",
        "z": "6402009.0989",
        "group": "177692aa.af6dcd",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 610,
        "y": 640,
        "wires": []
    },
    {
        "id": "eca9b0ce.9e49f",
        "type": "ui_text",
        "z": "6402009.0989",
        "group": "177692aa.af6dcd",
        "order": 9,
        "width": 2,
        "height": 2,
        "name": "",
        "label": "",
        "format": "{{msg.payload}} mm/s",
        "layout": "col-center",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "cb9a4a75.6b0608",
        "type": "ui_button",
        "z": "6402009.0989",
        "name": "",
        "group": "177692aa.af6dcd",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "3200",
        "payloadType": "num",
        "topic": "",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "c5973b01.c22658"
            ]
        ]
    },
    {
        "id": "3d5ae2f7.002bae",
        "type": "ui_text_input",
        "z": "6402009.0989",
        "name": "",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "177692aa.af6dcd",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 410,
        "y": 440,
        "wires": [
            [
                "14bf19c7.94a196"
            ]
        ]
    },
    {
        "id": "14bf19c7.94a196",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 440,
        "wires": []
    },
    {
        "id": "51ebdeb4.34e33",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "c5973b01.c22658",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "89018d3a.eb8a2",
        "type": "ui_slider",
        "z": "6402009.0989",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "177692aa.af6dcd",
        "order": 6,
        "width": 6,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": "0.5",
        "max": "28.5",
        "step": "0.1",
        "x": 430,
        "y": 500,
        "wires": [
            [
                "1d6b417b.4525bf"
            ]
        ]
    },
    {
        "id": "fa6bf9e1.601058",
        "type": "ui_text_input",
        "z": "6402009.0989",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "177692aa.af6dcd",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 430,
        "y": 560,
        "wires": [
            [
                "1d6b417b.4525bf"
            ]
        ]
    },
    {
        "id": "1812e6f8.82d1c9",
        "type": "mqtt out",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "M4.SPEED",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "7279b1b.3e9625",
        "type": "mqtt in",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "M4.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "a85eb7c9.f76d48",
                "e2ce688b.b74028",
                "cb449a57.2bc488"
            ]
        ]
    },
    {
        "id": "1ffa3002.7e8ab",
        "type": "mqtt out",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "M4.POS",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "b7b2e15f.26d97",
        "type": "mqtt out",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "M4.HOME",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "e69dc89d.c3fdc8",
        "type": "ui_button",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "group": "d1d91f2b.e84a7",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "179200",
        "payloadType": "num",
        "topic": "",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "f31af134.55f5e"
            ]
        ]
    },
    {
        "id": "379028ce.46c318",
        "type": "ui_button",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "group": "d1d91f2b.e84a7",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "b7b2e15f.26d97"
            ]
        ]
    },
    {
        "id": "7b015f54.9eadb",
        "type": "ui_slider",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "label": "SPEED",
        "tooltip": "",
        "group": "d1d91f2b.e84a7",
        "order": 8,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "1812e6f8.82d1c9",
                "ed78607c.624a6"
            ]
        ]
    },
    {
        "id": "a85eb7c9.f76d48",
        "type": "ui_text",
        "z": "bf4e29d8.62d0f8",
        "group": "d1d91f2b.e84a7",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 570,
        "y": 600,
        "wires": []
    },
    {
        "id": "ed78607c.624a6",
        "type": "ui_text",
        "z": "bf4e29d8.62d0f8",
        "group": "d1d91f2b.e84a7",
        "order": 9,
        "width": 2,
        "height": 2,
        "name": "",
        "label": "",
        "format": "{{msg.payload}} mm/s",
        "layout": "col-center",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "c3cc790e.114ba8",
        "type": "ui_button",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "group": "d1d91f2b.e84a7",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "3200",
        "payloadType": "num",
        "topic": "",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "8c78c8e4.fcca78"
            ]
        ]
    },
    {
        "id": "6418aa95.f53064",
        "type": "ui_text_input",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "d1d91f2b.e84a7",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 370,
        "y": 400,
        "wires": [
            [
                "d26e756.d7a7888"
            ]
        ]
    },
    {
        "id": "d26e756.d7a7888",
        "type": "mqtt out",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "M4.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 400,
        "wires": []
    },
    {
        "id": "f31af134.55f5e",
        "type": "mqtt out",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "M4.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "8c78c8e4.fcca78",
        "type": "mqtt out",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "M4.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 280,
        "wires": []
    },
    {
        "id": "cb449a57.2bc488",
        "type": "ui_slider",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "d1d91f2b.e84a7",
        "order": 6,
        "width": 6,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": "0.5",
        "max": "28.5",
        "step": "0.1",
        "x": 390,
        "y": 460,
        "wires": [
            [
                "1ffa3002.7e8ab"
            ]
        ]
    },
    {
        "id": "e2ce688b.b74028",
        "type": "ui_text_input",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "d1d91f2b.e84a7",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 390,
        "y": 520,
        "wires": [
            [
                "1ffa3002.7e8ab"
            ]
        ]
    },
    {
        "id": "601280b0.96c18",
        "type": "mqtt out",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "M3.SPEED",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "fe915a8a.931928",
        "type": "mqtt in",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "M3.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "5f37ddc6.49f194",
                "95239ea2.f9aed",
                "e329a3d1.d8851"
            ]
        ]
    },
    {
        "id": "f5cdedf3.a0c7a",
        "type": "mqtt out",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "M3.POS",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "abe1e8c9.ad93b8",
        "type": "mqtt out",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "M3.HOME",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "19d86690.cec0a9",
        "type": "ui_button",
        "z": "b64919fd.2eda88",
        "name": "",
        "group": "e486589d.b784e8",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "179200",
        "payloadType": "num",
        "topic": "",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "2a325e0e.3098c2"
            ]
        ]
    },
    {
        "id": "de3cbad8.2c9e48",
        "type": "ui_button",
        "z": "b64919fd.2eda88",
        "name": "",
        "group": "e486589d.b784e8",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "abe1e8c9.ad93b8"
            ]
        ]
    },
    {
        "id": "63dfad49.124604",
        "type": "ui_slider",
        "z": "b64919fd.2eda88",
        "name": "",
        "label": "SPEED",
        "tooltip": "",
        "group": "e486589d.b784e8",
        "order": 8,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "601280b0.96c18",
                "6070a8b9.d11bf8"
            ]
        ]
    },
    {
        "id": "5f37ddc6.49f194",
        "type": "ui_text",
        "z": "b64919fd.2eda88",
        "group": "e486589d.b784e8",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "6070a8b9.d11bf8",
        "type": "ui_text",
        "z": "b64919fd.2eda88",
        "group": "e486589d.b784e8",
        "order": 9,
        "width": 2,
        "height": 2,
        "name": "",
        "label": "",
        "format": "{{msg.payload}} mm/s",
        "layout": "col-center",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "44b85cf8.b9b404",
        "type": "ui_button",
        "z": "b64919fd.2eda88",
        "name": "",
        "group": "e486589d.b784e8",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "3200",
        "payloadType": "num",
        "topic": "",
        "x": 370,
        "y": 280,
        "wires": [
            [
                "2cb9473c.88c568"
            ]
        ]
    },
    {
        "id": "b7ced326.549b6",
        "type": "ui_text_input",
        "z": "b64919fd.2eda88",
        "name": "",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "e486589d.b784e8",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "9b51fed0.b2bf2"
            ]
        ]
    },
    {
        "id": "9b51fed0.b2bf2",
        "type": "mqtt out",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "M3.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "2a325e0e.3098c2",
        "type": "mqtt out",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "M3.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 540,
        "y": 340,
        "wires": []
    },
    {
        "id": "2cb9473c.88c568",
        "type": "mqtt out",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "M3.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "e329a3d1.d8851",
        "type": "ui_slider",
        "z": "b64919fd.2eda88",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "e486589d.b784e8",
        "order": 6,
        "width": 6,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": "0.5",
        "max": "28.5",
        "step": "0.1",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "f5cdedf3.a0c7a"
            ]
        ]
    },
    {
        "id": "95239ea2.f9aed",
        "type": "ui_text_input",
        "z": "b64919fd.2eda88",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "e486589d.b784e8",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "f5cdedf3.a0c7a"
            ]
        ]
    },
    {
        "id": "9dac82c9.e2b45",
        "type": "mqtt out",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 950,
        "y": 100,
        "wires": []
    },
    {
        "id": "4d98181d.d800d8",
        "type": "ui_button",
        "z": "b64919fd.2eda88",
        "name": "",
        "group": "e486589d.b784e8",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 770,
        "y": 100,
        "wires": [
            [
                "9dac82c9.e2b45"
            ]
        ]
    },
    {
        "id": "4f7a82ba.565f8c",
        "type": "mqtt out",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 950,
        "y": 100,
        "wires": []
    },
    {
        "id": "d1b30324.ad614",
        "type": "ui_button",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "group": "d1d91f2b.e84a7",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 770,
        "y": 100,
        "wires": [
            [
                "4f7a82ba.565f8c"
            ]
        ]
    },
    {
        "id": "f9ae24c.72eadd8",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1030,
        "y": 180,
        "wires": []
    },
    {
        "id": "c46a3f44.b3aa4",
        "type": "ui_button",
        "z": "6402009.0989",
        "name": "",
        "group": "177692aa.af6dcd",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 180,
        "wires": [
            [
                "f9ae24c.72eadd8"
            ]
        ]
    },
    {
        "id": "4b4432df.fb0dbc",
        "type": "mqtt out",
        "z": "689779eb.671308",
        "name": "",
        "topic": "M1.SPEED",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "eba39e5c.f0835",
        "type": "mqtt in",
        "z": "689779eb.671308",
        "name": "",
        "topic": "M1.RBV",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "4d22a2bc.5321ac",
                "dbfb2b0f.6802a8",
                "19c735db.6ba83a"
            ]
        ]
    },
    {
        "id": "b1528623.b9a348",
        "type": "mqtt out",
        "z": "689779eb.671308",
        "name": "",
        "topic": "M1.POS",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "96506a8.1f02098",
        "type": "mqtt out",
        "z": "689779eb.671308",
        "name": "",
        "topic": "M1.HOME",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "90d75252.30464",
        "type": "ui_button",
        "z": "689779eb.671308",
        "name": "",
        "group": "914d04e9.425078",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "179200",
        "payloadType": "num",
        "topic": "",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "d0dc5e8c.7a8e5"
            ]
        ]
    },
    {
        "id": "63610df6.42cae4",
        "type": "ui_button",
        "z": "689779eb.671308",
        "name": "",
        "group": "914d04e9.425078",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "96506a8.1f02098"
            ]
        ]
    },
    {
        "id": "73938500.d7b33c",
        "type": "ui_slider",
        "z": "689779eb.671308",
        "name": "",
        "label": "SPEED",
        "tooltip": "",
        "group": "914d04e9.425078",
        "order": 8,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "x": 380,
        "y": 220,
        "wires": [
            [
                "4b4432df.fb0dbc",
                "cce9d1e4.e4e85"
            ]
        ]
    },
    {
        "id": "4d22a2bc.5321ac",
        "type": "ui_text",
        "z": "689779eb.671308",
        "group": "914d04e9.425078",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 570,
        "y": 660,
        "wires": []
    },
    {
        "id": "cce9d1e4.e4e85",
        "type": "ui_text",
        "z": "689779eb.671308",
        "group": "914d04e9.425078",
        "order": 9,
        "width": 2,
        "height": 2,
        "name": "",
        "label": "",
        "format": "{{msg.payload}} mm/s",
        "layout": "col-center",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "f2ae20e6.d778b",
        "type": "ui_button",
        "z": "689779eb.671308",
        "name": "",
        "group": "914d04e9.425078",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "3200",
        "payloadType": "num",
        "topic": "",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "732428da.b4ae58"
            ]
        ]
    },
    {
        "id": "a7ad9734.2d44b8",
        "type": "ui_text_input",
        "z": "689779eb.671308",
        "name": "",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "914d04e9.425078",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "1f075a94.ea8875"
            ]
        ]
    },
    {
        "id": "1f075a94.ea8875",
        "type": "mqtt out",
        "z": "689779eb.671308",
        "name": "",
        "topic": "M1.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "d0dc5e8c.7a8e5",
        "type": "mqtt out",
        "z": "689779eb.671308",
        "name": "",
        "topic": "M1.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 400,
        "wires": []
    },
    {
        "id": "732428da.b4ae58",
        "type": "mqtt out",
        "z": "689779eb.671308",
        "name": "",
        "topic": "M1.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "dbfb2b0f.6802a8",
        "type": "ui_slider",
        "z": "689779eb.671308",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "914d04e9.425078",
        "order": 6,
        "width": 6,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": "0.5",
        "max": "28.5",
        "step": "0.1",
        "x": 390,
        "y": 520,
        "wires": [
            [
                "b1528623.b9a348"
            ]
        ]
    },
    {
        "id": "19c735db.6ba83a",
        "type": "ui_text_input",
        "z": "689779eb.671308",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "914d04e9.425078",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 390,
        "y": 580,
        "wires": [
            [
                "b1528623.b9a348"
            ]
        ]
    },
    {
        "id": "61536347.7ce5ac",
        "type": "mqtt out",
        "z": "689779eb.671308",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 950,
        "y": 160,
        "wires": []
    },
    {
        "id": "7568de1c.8400c",
        "type": "ui_button",
        "z": "689779eb.671308",
        "name": "",
        "group": "914d04e9.425078",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 770,
        "y": 160,
        "wires": [
            [
                "61536347.7ce5ac"
            ]
        ]
    },
    {
        "id": "6650c9f1.988558",
        "type": "mqtt out",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "M2.SPEED",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "b6864492.ddeeb8",
        "type": "mqtt in",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "M2.RBV",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 80,
        "y": 640,
        "wires": [
            [
                "1fe5a1c6.e4365e",
                "48b5cdbd.a81084",
                "da43bfd7.6306a"
            ]
        ]
    },
    {
        "id": "5592b50b.330d9c",
        "type": "mqtt out",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "M2.POS",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 520,
        "y": 500,
        "wires": []
    },
    {
        "id": "10afdc5.3bf0824",
        "type": "mqtt out",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "M2.HOME",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "67d63067.34cf9",
        "type": "ui_button",
        "z": "999cc820.21fc58",
        "name": "",
        "group": "86850364.bdf55",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "179200",
        "payloadType": "num",
        "topic": "",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "451936d9.52f4d8"
            ]
        ]
    },
    {
        "id": "3cd8a2b4.cbe01e",
        "type": "ui_button",
        "z": "999cc820.21fc58",
        "name": "",
        "group": "86850364.bdf55",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "10afdc5.3bf0824"
            ]
        ]
    },
    {
        "id": "c03f7336.a3596",
        "type": "ui_slider",
        "z": "999cc820.21fc58",
        "name": "",
        "label": "SPEED",
        "tooltip": "",
        "group": "86850364.bdf55",
        "order": 8,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "6650c9f1.988558",
                "23424dfa.0e9f72"
            ]
        ]
    },
    {
        "id": "1fe5a1c6.e4365e",
        "type": "ui_text",
        "z": "999cc820.21fc58",
        "group": "86850364.bdf55",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 530,
        "y": 640,
        "wires": []
    },
    {
        "id": "23424dfa.0e9f72",
        "type": "ui_text",
        "z": "999cc820.21fc58",
        "group": "86850364.bdf55",
        "order": 9,
        "width": 2,
        "height": 2,
        "name": "",
        "label": "",
        "format": "{{msg.payload}} mm/s",
        "layout": "col-center",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "20921c39.4b4a94",
        "type": "ui_button",
        "z": "999cc820.21fc58",
        "name": "",
        "group": "86850364.bdf55",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "3200",
        "payloadType": "num",
        "topic": "",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "efa52a4c.158b58"
            ]
        ]
    },
    {
        "id": "a5ebc54c.d13f08",
        "type": "ui_text_input",
        "z": "999cc820.21fc58",
        "name": "",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "86850364.bdf55",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "8cbee014.0239"
            ]
        ]
    },
    {
        "id": "8cbee014.0239",
        "type": "mqtt out",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "M2.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 520,
        "y": 440,
        "wires": []
    },
    {
        "id": "451936d9.52f4d8",
        "type": "mqtt out",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "M2.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 520,
        "y": 380,
        "wires": []
    },
    {
        "id": "efa52a4c.158b58",
        "type": "mqtt out",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "M2.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "48b5cdbd.a81084",
        "type": "ui_slider",
        "z": "999cc820.21fc58",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "86850364.bdf55",
        "order": 6,
        "width": 6,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": "0.5",
        "max": "28.5",
        "step": "0.1",
        "x": 350,
        "y": 500,
        "wires": [
            [
                "5592b50b.330d9c"
            ]
        ]
    },
    {
        "id": "da43bfd7.6306a",
        "type": "ui_text_input",
        "z": "999cc820.21fc58",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "86850364.bdf55",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 350,
        "y": 560,
        "wires": [
            [
                "5592b50b.330d9c"
            ]
        ]
    },
    {
        "id": "3b310354.533fdc",
        "type": "mqtt out",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 910,
        "y": 140,
        "wires": []
    },
    {
        "id": "c6ffddb.2df3d2",
        "type": "ui_button",
        "z": "999cc820.21fc58",
        "name": "",
        "group": "86850364.bdf55",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 730,
        "y": 140,
        "wires": [
            [
                "3b310354.533fdc"
            ]
        ]
    },
    {
        "id": "813f7541.0569f8",
        "type": "ui_button",
        "z": "11799c79.eb1f94",
        "name": "",
        "group": "4cc32132.0ec46",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Start TMCM",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "3958bc77.6fad14"
            ]
        ]
    },
    {
        "id": "74a57c53.444be4",
        "type": "ui_button",
        "z": "11799c79.eb1f94",
        "name": "",
        "group": "9a2e54a1.2e84a8",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Start Epics",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 480,
        "wires": [
            [
                "62893016.54c91"
            ]
        ]
    },
    {
        "id": "3958bc77.6fad14",
        "type": "exec",
        "z": "11799c79.eb1f94",
        "command": "python3 /home/pi/pam/pam.py",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 650,
        "y": 340,
        "wires": [
            [
                "4bd2ea01.4a8b14",
                "705b811.6b5098"
            ],
            [],
            []
        ]
    },
    {
        "id": "4bd2ea01.4a8b14",
        "type": "ui_text",
        "z": "11799c79.eb1f94",
        "group": "4cc32132.0ec46",
        "order": 12,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "msgTMCM",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 220,
        "wires": []
    },
    {
        "id": "d2d99d8b.a51f6",
        "type": "ui_text",
        "z": "11799c79.eb1f94",
        "group": "9a2e54a1.2e84a8",
        "order": 12,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "msgEpics",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 920,
        "y": 720,
        "wires": []
    },
    {
        "id": "62893016.54c91",
        "type": "exec",
        "z": "11799c79.eb1f94",
        "command": "python /home/pi/pam/epicsDriver.py",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 640,
        "y": 480,
        "wires": [
            [
                "8381c15d.be189",
                "d2d99d8b.a51f6"
            ],
            [],
            []
        ]
    },
    {
        "id": "f0c6606.3c026a",
        "type": "ui_button",
        "z": "11799c79.eb1f94",
        "name": "",
        "group": "4cc32132.0ec46",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "StopTMCM",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 400,
        "wires": [
            [
                "b62f8033.be48f"
            ]
        ]
    },
    {
        "id": "b62f8033.be48f",
        "type": "exec",
        "z": "11799c79.eb1f94",
        "command": "sudo killall python3",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 690,
        "y": 400,
        "wires": [
            [],
            [],
            [
                "705b811.6b5098",
                "4bd2ea01.4a8b14"
            ]
        ]
    },
    {
        "id": "c40bf1a3.5e845",
        "type": "ui_button",
        "z": "11799c79.eb1f94",
        "name": "",
        "group": "9a2e54a1.2e84a8",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Epics",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 540,
        "wires": [
            [
                "fc08877.0809478"
            ]
        ]
    },
    {
        "id": "fc08877.0809478",
        "type": "exec",
        "z": "11799c79.eb1f94",
        "command": "sudo killall python",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 690,
        "y": 540,
        "wires": [
            [],
            [],
            [
                "d2d99d8b.a51f6",
                "8381c15d.be189"
            ]
        ]
    },
    {
        "id": "8381c15d.be189",
        "type": "function",
        "z": "11799c79.eb1f94",
        "name": "Check Epics",
        "func": "if (msg.payload == 'Connected Epics\\n') {\n        msg.payload = 1;\n} else {\n        msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 560,
        "wires": [
            [
                "2915b492.10b8dc",
                "9532afd.1ea4c5",
                "4bac8e1f.2264b",
                "c1e8b76c.ff68e8",
                "dba5b491.04fd78"
            ]
        ]
    },
    {
        "id": "2915b492.10b8dc",
        "type": "ui_text",
        "z": "11799c79.eb1f94",
        "group": "9a2e54a1.2e84a8",
        "order": 12,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "msgEpics",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1180,
        "y": 720,
        "wires": []
    },
    {
        "id": "705b811.6b5098",
        "type": "function",
        "z": "11799c79.eb1f94",
        "name": "Check TMCM",
        "func": "if (msg.payload == 'Connected TMCM\\n') {\n        msg.payload = 1;\n} else {\n        msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 400,
        "wires": [
            [
                "42af8c7f.57a3b4",
                "d8015c70.a8de1",
                "37e740a4.8d3ca",
                "5c6024f4.ac112c",
                "91d723bb.471ad"
            ]
        ]
    },
    {
        "id": "42af8c7f.57a3b4",
        "type": "ui_text",
        "z": "11799c79.eb1f94",
        "group": "4cc32132.0ec46",
        "order": 12,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "msgTMCM",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1190,
        "y": 220,
        "wires": []
    },
    {
        "id": "9532afd.1ea4c5",
        "type": "ui_led",
        "z": "11799c79.eb1f94",
        "group": "9a2e54a1.2e84a8",
        "order": 11,
        "width": "6",
        "height": "1",
        "label": "Epics Connected",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Epics Connected",
        "x": 1210,
        "y": 480,
        "wires": []
    },
    {
        "id": "d8015c70.a8de1",
        "type": "ui_led",
        "z": "11799c79.eb1f94",
        "group": "4cc32132.0ec46",
        "order": 11,
        "width": "6",
        "height": "1",
        "label": "TMCM Connected",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "TMCM Connected",
        "x": 1210,
        "y": 320,
        "wires": []
    },
    {
        "id": "4bac8e1f.2264b",
        "type": "ui_led",
        "z": "11799c79.eb1f94",
        "group": "c01f32ea.582c9",
        "order": 3,
        "width": 9,
        "height": 1,
        "label": "Epics Connected",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "blue",
                "value": "",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Epics Connected",
        "x": 1210,
        "y": 520,
        "wires": []
    },
    {
        "id": "37e740a4.8d3ca",
        "type": "ui_led",
        "z": "11799c79.eb1f94",
        "group": "c01f32ea.582c9",
        "order": 1,
        "width": 9,
        "height": 1,
        "label": "TMCM Connected",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "TMCM Connected",
        "x": 1210,
        "y": 360,
        "wires": []
    },
    {
        "id": "c1e8b76c.ff68e8",
        "type": "ui_led",
        "z": "11799c79.eb1f94",
        "group": "b6e190ac.0480f",
        "order": 3,
        "width": 9,
        "height": 1,
        "label": "Epics Connected",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "blue",
                "value": "",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Epics Connected",
        "x": 1210,
        "y": 560,
        "wires": []
    },
    {
        "id": "5c6024f4.ac112c",
        "type": "ui_led",
        "z": "11799c79.eb1f94",
        "group": "b6e190ac.0480f",
        "order": 1,
        "width": 9,
        "height": 1,
        "label": "TMCM Connected",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "TMCM Connected",
        "x": 1210,
        "y": 400,
        "wires": []
    },
    {
        "id": "666fa7a4.29f718",
        "type": "inject",
        "z": "11799c79.eb1f94",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "813f7541.0569f8"
            ]
        ]
    },
    {
        "id": "622ffee6.19507",
        "type": "inject",
        "z": "11799c79.eb1f94",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "6",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "74a57c53.444be4"
            ]
        ]
    },
    {
        "id": "6cd65557.855dfc",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M0.TWF",
        "group": "e488bfac.368a6",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 80,
        "y": 120,
        "wires": [
            [
                "9dfb7485.6fcf98"
            ]
        ]
    },
    {
        "id": "ae5e889d.ea1348",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M0.TWR",
        "group": "e488bfac.368a6",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 80,
        "y": 60,
        "wires": [
            [
                "39b4732f.ee5c7c"
            ]
        ]
    },
    {
        "id": "eca6a65c.6f8f48",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M0.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "e488bfac.368a6",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 1200,
        "y": 60,
        "wires": [
            [
                "33db58e3.12d368"
            ]
        ]
    },
    {
        "id": "33db58e3.12d368",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M0.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1360,
        "y": 60,
        "wires": []
    },
    {
        "id": "9dfb7485.6fcf98",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M0.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 240,
        "y": 120,
        "wires": []
    },
    {
        "id": "39b4732f.ee5c7c",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M0.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 240,
        "y": 60,
        "wires": []
    },
    {
        "id": "264083a0.d1e4dc",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M0.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 80,
        "y": 180,
        "wires": [
            [
                "54763945.2837f8"
            ]
        ]
    },
    {
        "id": "54763945.2837f8",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "e488bfac.368a6",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "M0.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 240,
        "y": 180,
        "wires": []
    },
    {
        "id": "d6a6ef12.5264b",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M1.TWF",
        "group": "e488bfac.368a6",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 80,
        "y": 320,
        "wires": [
            [
                "b7382784.d92c48"
            ]
        ]
    },
    {
        "id": "af796a84.c27258",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M1.TWR",
        "group": "e488bfac.368a6",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 80,
        "y": 260,
        "wires": [
            [
                "526bbdb.53c8c44"
            ]
        ]
    },
    {
        "id": "2a42b0a8.0fd13",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M1.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "e488bfac.368a6",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 1200,
        "y": 120,
        "wires": [
            [
                "5f329fb4.b2db6"
            ]
        ]
    },
    {
        "id": "5f329fb4.b2db6",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M1.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1360,
        "y": 120,
        "wires": []
    },
    {
        "id": "b7382784.d92c48",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M1.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 240,
        "y": 320,
        "wires": []
    },
    {
        "id": "526bbdb.53c8c44",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M1.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 240,
        "y": 260,
        "wires": []
    },
    {
        "id": "dcc23b3e.d70368",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M1.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 80,
        "y": 380,
        "wires": [
            [
                "19cbe108.4fddcf"
            ]
        ]
    },
    {
        "id": "19cbe108.4fddcf",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "e488bfac.368a6",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "M1.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 240,
        "y": 380,
        "wires": []
    },
    {
        "id": "e2b01c4f.9099c",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M2.TWF",
        "group": "e488bfac.368a6",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 80,
        "y": 520,
        "wires": [
            [
                "16c2aa41.286556"
            ]
        ]
    },
    {
        "id": "e1ff8035.26027",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M2.TWR",
        "group": "e488bfac.368a6",
        "order": 12,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 80,
        "y": 460,
        "wires": [
            [
                "92be73fe.c5b74"
            ]
        ]
    },
    {
        "id": "4d8df09e.374d",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M2.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "e488bfac.368a6",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 1200,
        "y": 180,
        "wires": [
            [
                "7b50d5ae.ca957c"
            ]
        ]
    },
    {
        "id": "7b50d5ae.ca957c",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M2.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1360,
        "y": 180,
        "wires": []
    },
    {
        "id": "16c2aa41.286556",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M2.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 240,
        "y": 520,
        "wires": []
    },
    {
        "id": "92be73fe.c5b74",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M2.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 240,
        "y": 460,
        "wires": []
    },
    {
        "id": "ddb565b4.085768",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M2.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 80,
        "y": 580,
        "wires": [
            [
                "1547095.30f0af7"
            ]
        ]
    },
    {
        "id": "1547095.30f0af7",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "e488bfac.368a6",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "M2.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 240,
        "y": 580,
        "wires": []
    },
    {
        "id": "44e9a164.51039",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "cb8b6d6b.5b60c",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "M5.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "55df6480.67a13c",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M4.TWF",
        "group": "cb8b6d6b.5b60c",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "c9744341.e3b"
            ]
        ]
    },
    {
        "id": "bd933359.8e6a6",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M4.TWR",
        "group": "cb8b6d6b.5b60c",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 440,
        "y": 60,
        "wires": [
            [
                "7447b442.74c9cc"
            ]
        ]
    },
    {
        "id": "f465b038.5ec07",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M4.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "cb8b6d6b.5b60c",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 1200,
        "y": 300,
        "wires": [
            [
                "9dc755a8.c61cb8"
            ]
        ]
    },
    {
        "id": "9dc755a8.c61cb8",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M4.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1360,
        "y": 300,
        "wires": []
    },
    {
        "id": "c9744341.e3b",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M4.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "7447b442.74c9cc",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M4.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 60,
        "wires": []
    },
    {
        "id": "427cd7df.492718",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M4.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 440,
        "y": 180,
        "wires": [
            [
                "b841922.014b27"
            ]
        ]
    },
    {
        "id": "b841922.014b27",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "cb8b6d6b.5b60c",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "M4.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "d4c05f3a.9caa1",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M3.TWF",
        "group": "cb8b6d6b.5b60c",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 80,
        "y": 720,
        "wires": [
            [
                "88352f9d.a0ade"
            ]
        ]
    },
    {
        "id": "2f0ed3e1.66e5fc",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M3.TWR",
        "group": "cb8b6d6b.5b60c",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 80,
        "y": 660,
        "wires": [
            [
                "183b21d1.b409fe"
            ]
        ]
    },
    {
        "id": "3ec9298a.d0e846",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M3.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "cb8b6d6b.5b60c",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 1200,
        "y": 240,
        "wires": [
            [
                "786854d3.e6e44c"
            ]
        ]
    },
    {
        "id": "786854d3.e6e44c",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M3.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1360,
        "y": 240,
        "wires": []
    },
    {
        "id": "88352f9d.a0ade",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M3.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 240,
        "y": 720,
        "wires": []
    },
    {
        "id": "183b21d1.b409fe",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M3.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 240,
        "y": 660,
        "wires": []
    },
    {
        "id": "634f7b8b.2906d4",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M3.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 80,
        "y": 780,
        "wires": [
            [
                "54c24b14.2a3674"
            ]
        ]
    },
    {
        "id": "54c24b14.2a3674",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "cb8b6d6b.5b60c",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "M3.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 240,
        "y": 780,
        "wires": []
    },
    {
        "id": "ce0d27f3.320c48",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M5.TWF",
        "group": "cb8b6d6b.5b60c",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 440,
        "y": 320,
        "wires": [
            [
                "f1e2b483.f7f278"
            ]
        ]
    },
    {
        "id": "df2d188b.e54558",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M5.TWR",
        "group": "cb8b6d6b.5b60c",
        "order": 12,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "1aec7098.775f8f"
            ]
        ]
    },
    {
        "id": "57f1168e.4a5188",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M5.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "cb8b6d6b.5b60c",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 1200,
        "y": 360,
        "wires": [
            [
                "a0c7cab9.bbb658"
            ]
        ]
    },
    {
        "id": "a0c7cab9.bbb658",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M5.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1360,
        "y": 360,
        "wires": []
    },
    {
        "id": "f1e2b483.f7f278",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M5.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "1aec7098.775f8f",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M5.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "3603fff1.ec78c",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M5.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 440,
        "y": 380,
        "wires": [
            [
                "44e9a164.51039"
            ]
        ]
    },
    {
        "id": "347c9121.f72f5e",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "3b88a5a.72e5c5a",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "M8.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 600,
        "y": 980,
        "wires": []
    },
    {
        "id": "8a77f731.2a63e8",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M7.TWF",
        "group": "3b88a5a.72e5c5a",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 440,
        "y": 720,
        "wires": [
            [
                "dc68700.302f09"
            ]
        ]
    },
    {
        "id": "835df27b.2a38a",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M7.TWR",
        "group": "3b88a5a.72e5c5a",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 440,
        "y": 660,
        "wires": [
            [
                "6e3f0ac9.5c96e4"
            ]
        ]
    },
    {
        "id": "75c4a6fa.678958",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M7.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "3b88a5a.72e5c5a",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 1200,
        "y": 480,
        "wires": [
            [
                "79ce3e3.03fb7c"
            ]
        ]
    },
    {
        "id": "79ce3e3.03fb7c",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M7.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1360,
        "y": 480,
        "wires": []
    },
    {
        "id": "dc68700.302f09",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M7.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 720,
        "wires": []
    },
    {
        "id": "6e3f0ac9.5c96e4",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M7.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 660,
        "wires": []
    },
    {
        "id": "f9f1e77a.e27cd8",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M7.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 440,
        "y": 780,
        "wires": [
            [
                "5d64671d.0cbe58"
            ]
        ]
    },
    {
        "id": "5d64671d.0cbe58",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "3b88a5a.72e5c5a",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "M7.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 600,
        "y": 780,
        "wires": []
    },
    {
        "id": "ab8ab61e.933d88",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M6.TWF",
        "group": "3b88a5a.72e5c5a",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 440,
        "y": 520,
        "wires": [
            [
                "c8d04e01.dbf09"
            ]
        ]
    },
    {
        "id": "e76c5e23.1e7c9",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M6.TWR",
        "group": "3b88a5a.72e5c5a",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 440,
        "y": 460,
        "wires": [
            [
                "4b26e006.936a3"
            ]
        ]
    },
    {
        "id": "491b880c.b17168",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M6.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "3b88a5a.72e5c5a",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 1200,
        "y": 420,
        "wires": [
            [
                "8119c25f.5b6cf"
            ]
        ]
    },
    {
        "id": "8119c25f.5b6cf",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M6.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1360,
        "y": 420,
        "wires": []
    },
    {
        "id": "c8d04e01.dbf09",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M6.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 520,
        "wires": []
    },
    {
        "id": "4b26e006.936a3",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M6.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 460,
        "wires": []
    },
    {
        "id": "306e6195.60cb2e",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M6.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 440,
        "y": 580,
        "wires": [
            [
                "d43d0caa.d25eb"
            ]
        ]
    },
    {
        "id": "d43d0caa.d25eb",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "3b88a5a.72e5c5a",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "M6.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 600,
        "y": 580,
        "wires": []
    },
    {
        "id": "7cf22731.c57df8",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M8.TWF",
        "group": "3b88a5a.72e5c5a",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 440,
        "y": 920,
        "wires": [
            [
                "6e0cd8c5.9a3b68"
            ]
        ]
    },
    {
        "id": "bf10b630.0082d8",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M8.TWR",
        "group": "3b88a5a.72e5c5a",
        "order": 12,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 440,
        "y": 860,
        "wires": [
            [
                "fa4c757c.ab5918"
            ]
        ]
    },
    {
        "id": "269aa7cb.ca1368",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M8.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "3b88a5a.72e5c5a",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 1200,
        "y": 540,
        "wires": [
            [
                "2a125d68.05ee32"
            ]
        ]
    },
    {
        "id": "2a125d68.05ee32",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M8.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1360,
        "y": 540,
        "wires": []
    },
    {
        "id": "6e0cd8c5.9a3b68",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M8.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 920,
        "wires": []
    },
    {
        "id": "fa4c757c.ab5918",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M8.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 860,
        "wires": []
    },
    {
        "id": "de192157.e7186",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M8.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 440,
        "y": 980,
        "wires": [
            [
                "347c9121.f72f5e"
            ]
        ]
    },
    {
        "id": "40a9a210.86270c",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 990,
        "y": 900,
        "wires": []
    },
    {
        "id": "81db49e6.e64d78",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "",
        "group": "e488bfac.368a6",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 810,
        "y": 900,
        "wires": [
            [
                "40a9a210.86270c"
            ]
        ]
    },
    {
        "id": "e9904251.dc02",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 990,
        "y": 960,
        "wires": []
    },
    {
        "id": "30d600b2.09a83",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "",
        "group": "cb8b6d6b.5b60c",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 810,
        "y": 960,
        "wires": [
            [
                "e9904251.dc02"
            ]
        ]
    },
    {
        "id": "12084b97.8ac364",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 990,
        "y": 1020,
        "wires": []
    },
    {
        "id": "5c959afd.3aebc4",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "",
        "group": "3b88a5a.72e5c5a",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 810,
        "y": 1020,
        "wires": [
            [
                "12084b97.8ac364"
            ]
        ]
    },
    {
        "id": "8f4167a1.dc1ac8",
        "type": "mqtt out",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "M0.SPEED",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "c0122ef9.f7d13",
        "type": "mqtt in",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "M0.RBV",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "e54578d9.f54d28",
                "77fce972.aaa0d8",
                "503cd6a9.0bb8d8"
            ]
        ]
    },
    {
        "id": "38b144f0.8ba30c",
        "type": "mqtt out",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "M0.POS",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "6779b740.4dc928",
        "type": "mqtt out",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "M0.HOME",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "2e9beae3.77d1a6",
        "type": "ui_button",
        "z": "30b792f9.1f2dee",
        "name": "",
        "group": "b889f512.e1ec18",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "179200",
        "payloadType": "num",
        "topic": "",
        "x": 390,
        "y": 360,
        "wires": [
            [
                "46e789e2.c7e828"
            ]
        ]
    },
    {
        "id": "59a71a21.311ee4",
        "type": "ui_button",
        "z": "30b792f9.1f2dee",
        "name": "",
        "group": "b889f512.e1ec18",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "6779b740.4dc928"
            ]
        ]
    },
    {
        "id": "d00f6f4e.97389",
        "type": "ui_slider",
        "z": "30b792f9.1f2dee",
        "name": "",
        "label": "SPEED",
        "tooltip": "",
        "group": "b889f512.e1ec18",
        "order": 8,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "8f4167a1.dc1ac8",
                "e9d74db9.50aa1"
            ]
        ]
    },
    {
        "id": "e54578d9.f54d28",
        "type": "ui_text",
        "z": "30b792f9.1f2dee",
        "group": "b889f512.e1ec18",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 570,
        "y": 620,
        "wires": []
    },
    {
        "id": "e9d74db9.50aa1",
        "type": "ui_text",
        "z": "30b792f9.1f2dee",
        "group": "b889f512.e1ec18",
        "order": 9,
        "width": 2,
        "height": 2,
        "name": "",
        "label": "",
        "format": "{{msg.payload}} mm/s",
        "layout": "col-center",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "ddb0d7a2.681888",
        "type": "ui_button",
        "z": "30b792f9.1f2dee",
        "name": "",
        "group": "b889f512.e1ec18",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "3200",
        "payloadType": "num",
        "topic": "",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "bd0007ec.e24ec8"
            ]
        ]
    },
    {
        "id": "ba48b91c.a42948",
        "type": "ui_text_input",
        "z": "30b792f9.1f2dee",
        "name": "",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "b889f512.e1ec18",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 370,
        "y": 420,
        "wires": [
            [
                "da80cd5.92fb63"
            ]
        ]
    },
    {
        "id": "da80cd5.92fb63",
        "type": "mqtt out",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "M0.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 420,
        "wires": []
    },
    {
        "id": "46e789e2.c7e828",
        "type": "mqtt out",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "M0.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 360,
        "wires": []
    },
    {
        "id": "bd0007ec.e24ec8",
        "type": "mqtt out",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "M0.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "77fce972.aaa0d8",
        "type": "ui_slider",
        "z": "30b792f9.1f2dee",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "b889f512.e1ec18",
        "order": 6,
        "width": 6,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": "0.5",
        "max": "28.5",
        "step": "0.1",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "38b144f0.8ba30c"
            ]
        ]
    },
    {
        "id": "503cd6a9.0bb8d8",
        "type": "ui_text_input",
        "z": "30b792f9.1f2dee",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "b889f512.e1ec18",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 390,
        "y": 540,
        "wires": [
            [
                "38b144f0.8ba30c"
            ]
        ]
    },
    {
        "id": "8bbe4959.710c98",
        "type": "mqtt out",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "f56d205d.ea377",
        "type": "ui_button",
        "z": "30b792f9.1f2dee",
        "name": "",
        "group": "b889f512.e1ec18",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 770,
        "y": 120,
        "wires": [
            [
                "8bbe4959.710c98"
            ]
        ]
    },
    {
        "id": "9d6e4f61.d562d",
        "type": "mqtt out",
        "z": "f993115b.4aeee",
        "name": "",
        "topic": "M6.SPEED",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "ec71d511.2d0108",
        "type": "mqtt in",
        "z": "f993115b.4aeee",
        "name": "",
        "topic": "M6.RBV",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "b83008ab.684d38",
                "84c9ef12.6ef7b",
                "ce10a47f.fa0a68"
            ]
        ]
    },
    {
        "id": "2446f8ab.8e6dd8",
        "type": "mqtt out",
        "z": "f993115b.4aeee",
        "name": "",
        "topic": "M6.POS",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "3baddfe7.f97eb",
        "type": "mqtt out",
        "z": "f993115b.4aeee",
        "name": "",
        "topic": "M6.HOME",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "75ed72d4.96c74c",
        "type": "ui_button",
        "z": "f993115b.4aeee",
        "name": "",
        "group": "7ef6477.b097ab8",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "179200",
        "payloadType": "num",
        "topic": "",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "13475159.a7a88f"
            ]
        ]
    },
    {
        "id": "b2942bf9.f6afb8",
        "type": "ui_button",
        "z": "f993115b.4aeee",
        "name": "",
        "group": "7ef6477.b097ab8",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "3baddfe7.f97eb"
            ]
        ]
    },
    {
        "id": "5f346b31.3b6ea4",
        "type": "ui_slider",
        "z": "f993115b.4aeee",
        "name": "",
        "label": "SPEED",
        "tooltip": "",
        "group": "7ef6477.b097ab8",
        "order": 8,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "9d6e4f61.d562d",
                "15d0f3e6.93f6ac"
            ]
        ]
    },
    {
        "id": "b83008ab.684d38",
        "type": "ui_text",
        "z": "f993115b.4aeee",
        "group": "7ef6477.b097ab8",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "15d0f3e6.93f6ac",
        "type": "ui_text",
        "z": "f993115b.4aeee",
        "group": "7ef6477.b097ab8",
        "order": 9,
        "width": 2,
        "height": 2,
        "name": "",
        "label": "",
        "format": "{{msg.payload}} mm/s",
        "layout": "col-center",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "80ed805a.996e4",
        "type": "ui_button",
        "z": "f993115b.4aeee",
        "name": "",
        "group": "7ef6477.b097ab8",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "3200",
        "payloadType": "num",
        "topic": "",
        "x": 370,
        "y": 280,
        "wires": [
            [
                "790d37fc.bba968"
            ]
        ]
    },
    {
        "id": "2b4a077d.c332e8",
        "type": "ui_text_input",
        "z": "f993115b.4aeee",
        "name": "",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "7ef6477.b097ab8",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "94507e80.5b088"
            ]
        ]
    },
    {
        "id": "94507e80.5b088",
        "type": "mqtt out",
        "z": "f993115b.4aeee",
        "name": "",
        "topic": "M6.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "13475159.a7a88f",
        "type": "mqtt out",
        "z": "f993115b.4aeee",
        "name": "",
        "topic": "M6.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 540,
        "y": 340,
        "wires": []
    },
    {
        "id": "790d37fc.bba968",
        "type": "mqtt out",
        "z": "f993115b.4aeee",
        "name": "",
        "topic": "M6.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "84c9ef12.6ef7b",
        "type": "ui_slider",
        "z": "f993115b.4aeee",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "7ef6477.b097ab8",
        "order": 6,
        "width": 6,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": "0.5",
        "max": "28.5",
        "step": "0.1",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "2446f8ab.8e6dd8"
            ]
        ]
    },
    {
        "id": "ce10a47f.fa0a68",
        "type": "ui_text_input",
        "z": "f993115b.4aeee",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "7ef6477.b097ab8",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "2446f8ab.8e6dd8"
            ]
        ]
    },
    {
        "id": "9a559ba1.7f9588",
        "type": "mqtt out",
        "z": "f993115b.4aeee",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 930,
        "y": 100,
        "wires": []
    },
    {
        "id": "572da807.7a4e08",
        "type": "ui_button",
        "z": "f993115b.4aeee",
        "name": "",
        "group": "7ef6477.b097ab8",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 750,
        "y": 100,
        "wires": [
            [
                "9a559ba1.7f9588"
            ]
        ]
    },
    {
        "id": "6c575e63.4d6b4",
        "type": "mqtt out",
        "z": "16f335ac.26977a",
        "name": "",
        "topic": "M7.SPEED",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "cda4796e.32bb58",
        "type": "mqtt in",
        "z": "16f335ac.26977a",
        "name": "",
        "topic": "M7.RBV",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "97f078e7.575698",
                "c72284cc.be88d8",
                "ec6a15e.70de9e8"
            ]
        ]
    },
    {
        "id": "45ad87c9.783288",
        "type": "mqtt out",
        "z": "16f335ac.26977a",
        "name": "",
        "topic": "M7.POS",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 420,
        "wires": []
    },
    {
        "id": "3c417969.554636",
        "type": "mqtt out",
        "z": "16f335ac.26977a",
        "name": "",
        "topic": "M7.HOME",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "2cf88f7.43c5c7",
        "type": "ui_button",
        "z": "16f335ac.26977a",
        "name": "",
        "group": "9de4b683.ba3c08",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "179200",
        "payloadType": "num",
        "topic": "",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "3fd595bd.2c069a"
            ]
        ]
    },
    {
        "id": "d67df188.4fe13",
        "type": "ui_button",
        "z": "16f335ac.26977a",
        "name": "",
        "group": "9de4b683.ba3c08",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 390,
        "y": 60,
        "wires": [
            [
                "3c417969.554636"
            ]
        ]
    },
    {
        "id": "32fa58a9.c73f78",
        "type": "ui_slider",
        "z": "16f335ac.26977a",
        "name": "",
        "label": "SPEED",
        "tooltip": "",
        "group": "9de4b683.ba3c08",
        "order": 8,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "x": 380,
        "y": 120,
        "wires": [
            [
                "6c575e63.4d6b4",
                "35c97922.504e16"
            ]
        ]
    },
    {
        "id": "97f078e7.575698",
        "type": "ui_text",
        "z": "16f335ac.26977a",
        "group": "9de4b683.ba3c08",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 570,
        "y": 560,
        "wires": []
    },
    {
        "id": "35c97922.504e16",
        "type": "ui_text",
        "z": "16f335ac.26977a",
        "group": "9de4b683.ba3c08",
        "order": 9,
        "width": 2,
        "height": 2,
        "name": "",
        "label": "",
        "format": "{{msg.payload}} mm/s",
        "layout": "col-center",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "ae0f2218.bed67",
        "type": "ui_button",
        "z": "16f335ac.26977a",
        "name": "",
        "group": "9de4b683.ba3c08",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "3200",
        "payloadType": "num",
        "topic": "",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "c63ba6ed.1ff418"
            ]
        ]
    },
    {
        "id": "6e7d77ec.0844b8",
        "type": "ui_text_input",
        "z": "16f335ac.26977a",
        "name": "",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "9de4b683.ba3c08",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "8f9d7ca0.4ef51"
            ]
        ]
    },
    {
        "id": "8f9d7ca0.4ef51",
        "type": "mqtt out",
        "z": "16f335ac.26977a",
        "name": "",
        "topic": "M7.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 360,
        "wires": []
    },
    {
        "id": "3fd595bd.2c069a",
        "type": "mqtt out",
        "z": "16f335ac.26977a",
        "name": "",
        "topic": "M7.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "c63ba6ed.1ff418",
        "type": "mqtt out",
        "z": "16f335ac.26977a",
        "name": "",
        "topic": "M7.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "c72284cc.be88d8",
        "type": "ui_slider",
        "z": "16f335ac.26977a",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "9de4b683.ba3c08",
        "order": 6,
        "width": 6,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": "0.5",
        "max": "28.5",
        "step": "0.1",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "45ad87c9.783288"
            ]
        ]
    },
    {
        "id": "ec6a15e.70de9e8",
        "type": "ui_text_input",
        "z": "16f335ac.26977a",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "9de4b683.ba3c08",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "45ad87c9.783288"
            ]
        ]
    },
    {
        "id": "ebef8a44.2ba6b8",
        "type": "mqtt out",
        "z": "16f335ac.26977a",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 950,
        "y": 60,
        "wires": []
    },
    {
        "id": "bfd8dcb6.23312",
        "type": "ui_button",
        "z": "16f335ac.26977a",
        "name": "",
        "group": "9de4b683.ba3c08",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 770,
        "y": 60,
        "wires": [
            [
                "ebef8a44.2ba6b8"
            ]
        ]
    },
    {
        "id": "4a948a66.7db094",
        "type": "mqtt out",
        "z": "7042a3c5.55012c",
        "name": "",
        "topic": "M8.SPEED",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "5aab50c1.a01ce",
        "type": "mqtt in",
        "z": "7042a3c5.55012c",
        "name": "",
        "topic": "M8.RBV",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 100,
        "y": 640,
        "wires": [
            [
                "a6a08546.f7b958",
                "ce70b54d.dce6c8",
                "d45bf0bb.faa9f"
            ]
        ]
    },
    {
        "id": "d8dc97e1.e34668",
        "type": "mqtt out",
        "z": "7042a3c5.55012c",
        "name": "",
        "topic": "M8.POS",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 540,
        "y": 500,
        "wires": []
    },
    {
        "id": "e2e05b4e.653318",
        "type": "mqtt out",
        "z": "7042a3c5.55012c",
        "name": "",
        "topic": "M8.HOME",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "71b16097.a9b0d",
        "type": "ui_button",
        "z": "7042a3c5.55012c",
        "name": "",
        "group": "ee19c29e.222e9",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "179200",
        "payloadType": "num",
        "topic": "",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "9cfb1eba.76f96"
            ]
        ]
    },
    {
        "id": "4de77dbe.1e3824",
        "type": "ui_button",
        "z": "7042a3c5.55012c",
        "name": "",
        "group": "ee19c29e.222e9",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "e2e05b4e.653318"
            ]
        ]
    },
    {
        "id": "4808d6e9.75a318",
        "type": "ui_slider",
        "z": "7042a3c5.55012c",
        "name": "",
        "label": "SPEED",
        "tooltip": "",
        "group": "ee19c29e.222e9",
        "order": 8,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "x": 360,
        "y": 200,
        "wires": [
            [
                "4a948a66.7db094",
                "262fb991.e90ac6"
            ]
        ]
    },
    {
        "id": "a6a08546.f7b958",
        "type": "ui_text",
        "z": "7042a3c5.55012c",
        "group": "ee19c29e.222e9",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 550,
        "y": 640,
        "wires": []
    },
    {
        "id": "262fb991.e90ac6",
        "type": "ui_text",
        "z": "7042a3c5.55012c",
        "group": "ee19c29e.222e9",
        "order": 9,
        "width": 2,
        "height": 2,
        "name": "",
        "label": "",
        "format": "{{msg.payload}} mm/s",
        "layout": "col-center",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "bbd21c76.feefb",
        "type": "ui_button",
        "z": "7042a3c5.55012c",
        "name": "",
        "group": "ee19c29e.222e9",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "3200",
        "payloadType": "num",
        "topic": "",
        "x": 370,
        "y": 320,
        "wires": [
            [
                "2f69a927.ba80d6"
            ]
        ]
    },
    {
        "id": "e11498f9.f1d2f8",
        "type": "ui_text_input",
        "z": "7042a3c5.55012c",
        "name": "",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "ee19c29e.222e9",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 350,
        "y": 440,
        "wires": [
            [
                "20e61cf5.208424"
            ]
        ]
    },
    {
        "id": "20e61cf5.208424",
        "type": "mqtt out",
        "z": "7042a3c5.55012c",
        "name": "",
        "topic": "M8.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 540,
        "y": 440,
        "wires": []
    },
    {
        "id": "9cfb1eba.76f96",
        "type": "mqtt out",
        "z": "7042a3c5.55012c",
        "name": "",
        "topic": "M8.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "2f69a927.ba80d6",
        "type": "mqtt out",
        "z": "7042a3c5.55012c",
        "name": "",
        "topic": "M8.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "ce70b54d.dce6c8",
        "type": "ui_slider",
        "z": "7042a3c5.55012c",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "ee19c29e.222e9",
        "order": 6,
        "width": 6,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": "0.5",
        "max": "28.5",
        "step": "0.1",
        "x": 370,
        "y": 500,
        "wires": [
            [
                "d8dc97e1.e34668"
            ]
        ]
    },
    {
        "id": "d45bf0bb.faa9f",
        "type": "ui_text_input",
        "z": "7042a3c5.55012c",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "ee19c29e.222e9",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 370,
        "y": 560,
        "wires": [
            [
                "d8dc97e1.e34668"
            ]
        ]
    },
    {
        "id": "39dbaa48.a7e976",
        "type": "mqtt out",
        "z": "7042a3c5.55012c",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 930,
        "y": 140,
        "wires": []
    },
    {
        "id": "283a358c.4bf93a",
        "type": "ui_button",
        "z": "7042a3c5.55012c",
        "name": "",
        "group": "ee19c29e.222e9",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 750,
        "y": 140,
        "wires": [
            [
                "39dbaa48.a7e976"
            ]
        ]
    },
    {
        "id": "91d723bb.471ad",
        "type": "ui_led",
        "z": "11799c79.eb1f94",
        "group": "73506ffc.c346d",
        "order": 1,
        "width": 9,
        "height": 1,
        "label": "TMCM Connected",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "TMCM Connected",
        "x": 1210,
        "y": 440,
        "wires": []
    },
    {
        "id": "dba5b491.04fd78",
        "type": "ui_led",
        "z": "11799c79.eb1f94",
        "group": "73506ffc.c346d",
        "order": 3,
        "width": 9,
        "height": 1,
        "label": "Epics Connected",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "blue",
                "value": "",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Epics Connected",
        "x": 1210,
        "y": 600,
        "wires": []
    },
    {
        "id": "5caf7959.189ee8",
        "type": "inject",
        "z": "11799c79.eb1f94",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "3aa018ad.692358"
            ]
        ]
    },
    {
        "id": "3aa018ad.692358",
        "type": "mqtt out",
        "z": "11799c79.eb1f94",
        "name": "",
        "topic": "ALL",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 330,
        "y": 160,
        "wires": []
    },
    {
        "id": "ff5d7dd8.9a8cb",
        "type": "mqtt in",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "ALLPULL",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "6d8724d5.37c73c"
            ]
        ]
    },
    {
        "id": "6d8724d5.37c73c",
        "type": "json",
        "z": "30b792f9.1f2dee",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "841cbca.a93c34",
                "e4819bdd.4cd448"
            ]
        ]
    },
    {
        "id": "841cbca.a93c34",
        "type": "function",
        "z": "30b792f9.1f2dee",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "ba48b91c.a42948"
            ]
        ]
    },
    {
        "id": "e4819bdd.4cd448",
        "type": "function",
        "z": "30b792f9.1f2dee",
        "name": "SPEED",
        "func": "msg.payload = msg.payload.SPEED0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "d00f6f4e.97389"
            ]
        ]
    },
    {
        "id": "c43b974b.84c968",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "ALLPULL",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 840,
        "y": 20,
        "wires": [
            [
                "799abb3c.6231c4"
            ]
        ]
    },
    {
        "id": "799abb3c.6231c4",
        "type": "json",
        "z": "bc94169e.f793d8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 850,
        "y": 60,
        "wires": [
            [
                "fbf62e8c.b2c23",
                "f20ac4e0.da15e8",
                "dea45dc9.2279f",
                "304d74b1.71f6ec",
                "a8f5dc9.c17832",
                "6e1638aa.3a0328",
                "1b1d2cb.4f5a1d3",
                "337a82ba.87438e",
                "bcc6051c.5dd1f8"
            ]
        ]
    },
    {
        "id": "fbf62e8c.b2c23",
        "type": "function",
        "z": "bc94169e.f793d8",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 120,
        "wires": [
            [
                "2a42b0a8.0fd13"
            ]
        ]
    },
    {
        "id": "f20ac4e0.da15e8",
        "type": "function",
        "z": "bc94169e.f793d8",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 60,
        "wires": [
            [
                "eca6a65c.6f8f48"
            ]
        ]
    },
    {
        "id": "dea45dc9.2279f",
        "type": "function",
        "z": "bc94169e.f793d8",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 180,
        "wires": [
            [
                "4d8df09e.374d"
            ]
        ]
    },
    {
        "id": "304d74b1.71f6ec",
        "type": "function",
        "z": "bc94169e.f793d8",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV3;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 240,
        "wires": [
            [
                "3ec9298a.d0e846"
            ]
        ]
    },
    {
        "id": "a8f5dc9.c17832",
        "type": "function",
        "z": "bc94169e.f793d8",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV4;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 300,
        "wires": [
            [
                "f465b038.5ec07"
            ]
        ]
    },
    {
        "id": "6e1638aa.3a0328",
        "type": "function",
        "z": "bc94169e.f793d8",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV5;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 360,
        "wires": [
            [
                "57f1168e.4a5188"
            ]
        ]
    },
    {
        "id": "1b1d2cb.4f5a1d3",
        "type": "function",
        "z": "bc94169e.f793d8",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV6;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 420,
        "wires": [
            [
                "491b880c.b17168"
            ]
        ]
    },
    {
        "id": "337a82ba.87438e",
        "type": "function",
        "z": "bc94169e.f793d8",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV7;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 480,
        "wires": [
            [
                "75c4a6fa.678958"
            ]
        ]
    },
    {
        "id": "bcc6051c.5dd1f8",
        "type": "function",
        "z": "bc94169e.f793d8",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV8;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 540,
        "wires": [
            [
                "269aa7cb.ca1368"
            ]
        ]
    },
    {
        "id": "8f81c836.2626c8",
        "type": "mqtt in",
        "z": "689779eb.671308",
        "name": "",
        "topic": "ALLPULL",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "96756eb9.8467f"
            ]
        ]
    },
    {
        "id": "96756eb9.8467f",
        "type": "json",
        "z": "689779eb.671308",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "645c5b3b.7bf714",
                "5be7e2dc.208c0c"
            ]
        ]
    },
    {
        "id": "645c5b3b.7bf714",
        "type": "function",
        "z": "689779eb.671308",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "a7ad9734.2d44b8"
            ]
        ]
    },
    {
        "id": "5be7e2dc.208c0c",
        "type": "function",
        "z": "689779eb.671308",
        "name": "SPEED",
        "func": "msg.payload = msg.payload.SPEED1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "73938500.d7b33c"
            ]
        ]
    },
    {
        "id": "6214f652.11a7d8",
        "type": "mqtt in",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "ALLPULL",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "d81768b.6e84e98"
            ]
        ]
    },
    {
        "id": "d81768b.6e84e98",
        "type": "json",
        "z": "999cc820.21fc58",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "75888034.c4e5c",
                "db3f8746.915c38"
            ]
        ]
    },
    {
        "id": "75888034.c4e5c",
        "type": "function",
        "z": "999cc820.21fc58",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "a5ebc54c.d13f08"
            ]
        ]
    },
    {
        "id": "db3f8746.915c38",
        "type": "function",
        "z": "999cc820.21fc58",
        "name": "SPEED",
        "func": "msg.payload = msg.payload.SPEED2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "c03f7336.a3596"
            ]
        ]
    },
    {
        "id": "d0600b25.36fa48",
        "type": "mqtt in",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "ALLPULL",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 140,
        "y": 20,
        "wires": [
            [
                "19171179.5ff52f"
            ]
        ]
    },
    {
        "id": "19171179.5ff52f",
        "type": "json",
        "z": "b64919fd.2eda88",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "39d34fe2.0e8eb",
                "98cfad70.7ef75"
            ]
        ]
    },
    {
        "id": "39d34fe2.0e8eb",
        "type": "function",
        "z": "b64919fd.2eda88",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV3;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "b7ced326.549b6"
            ]
        ]
    },
    {
        "id": "98cfad70.7ef75",
        "type": "function",
        "z": "b64919fd.2eda88",
        "name": "SPEED",
        "func": "msg.payload = msg.payload.SPEED3;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "63dfad49.124604"
            ]
        ]
    },
    {
        "id": "3c556355.34d14c",
        "type": "mqtt in",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "ALLPULL",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 160,
        "y": 20,
        "wires": [
            [
                "bf7190e2.fd503"
            ]
        ]
    },
    {
        "id": "bf7190e2.fd503",
        "type": "json",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "3e42b17b.8dc42e",
                "1058d723.c71379"
            ]
        ]
    },
    {
        "id": "3e42b17b.8dc42e",
        "type": "function",
        "z": "bf4e29d8.62d0f8",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV4;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 400,
        "wires": [
            [
                "6418aa95.f53064"
            ]
        ]
    },
    {
        "id": "1058d723.c71379",
        "type": "function",
        "z": "bf4e29d8.62d0f8",
        "name": "SPEED",
        "func": "msg.payload = msg.payload.SPEED4;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "7b015f54.9eadb"
            ]
        ]
    },
    {
        "id": "279ef45c.4aa70c",
        "type": "mqtt in",
        "z": "6402009.0989",
        "name": "",
        "topic": "ALLPULL",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "7a48d64d.10de78"
            ]
        ]
    },
    {
        "id": "7a48d64d.10de78",
        "type": "json",
        "z": "6402009.0989",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "52609e20.1ac55",
                "20329a11.1559e6"
            ]
        ]
    },
    {
        "id": "52609e20.1ac55",
        "type": "function",
        "z": "6402009.0989",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV5;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 440,
        "wires": [
            [
                "3d5ae2f7.002bae"
            ]
        ]
    },
    {
        "id": "20329a11.1559e6",
        "type": "function",
        "z": "6402009.0989",
        "name": "SPEED",
        "func": "msg.payload = msg.payload.SPEED5;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 200,
        "wires": [
            [
                "2369b451.7c067c"
            ]
        ]
    },
    {
        "id": "8d536927.f17598",
        "type": "mqtt in",
        "z": "f993115b.4aeee",
        "name": "",
        "topic": "ALLPULL",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 160,
        "y": 20,
        "wires": [
            [
                "272cd5c5.3702aa"
            ]
        ]
    },
    {
        "id": "272cd5c5.3702aa",
        "type": "json",
        "z": "f993115b.4aeee",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "1e76f568.f3c27b",
                "8cce864.24dbd78"
            ]
        ]
    },
    {
        "id": "1e76f568.f3c27b",
        "type": "function",
        "z": "f993115b.4aeee",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV6;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 400,
        "wires": [
            [
                "2b4a077d.c332e8"
            ]
        ]
    },
    {
        "id": "8cce864.24dbd78",
        "type": "function",
        "z": "f993115b.4aeee",
        "name": "SPEED",
        "func": "msg.payload = msg.payload.SPEED6;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "5f346b31.3b6ea4"
            ]
        ]
    },
    {
        "id": "1bd89372.94b5fd",
        "type": "mqtt in",
        "z": "16f335ac.26977a",
        "name": "",
        "topic": "ALLPULL",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "1a1bf79.17db808"
            ]
        ]
    },
    {
        "id": "1a1bf79.17db808",
        "type": "json",
        "z": "16f335ac.26977a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "2bc12264.44457e",
                "f6248c1e.79b0b"
            ]
        ]
    },
    {
        "id": "2bc12264.44457e",
        "type": "function",
        "z": "16f335ac.26977a",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV7;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "6e7d77ec.0844b8"
            ]
        ]
    },
    {
        "id": "f6248c1e.79b0b",
        "type": "function",
        "z": "16f335ac.26977a",
        "name": "SPEED",
        "func": "msg.payload = msg.payload.SPEED7;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "32fa58a9.c73f78"
            ]
        ]
    },
    {
        "id": "b1536261.d8306",
        "type": "mqtt in",
        "z": "7042a3c5.55012c",
        "name": "",
        "topic": "ALLPULL",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "21d74b7a.e872a4"
            ]
        ]
    },
    {
        "id": "21d74b7a.e872a4",
        "type": "json",
        "z": "7042a3c5.55012c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "3811b951.f39e46",
                "58ae4483.78c63c"
            ]
        ]
    },
    {
        "id": "3811b951.f39e46",
        "type": "function",
        "z": "7042a3c5.55012c",
        "name": "TWV",
        "func": "msg.payload = msg.payload.TWV8;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "e11498f9.f1d2f8"
            ]
        ]
    },
    {
        "id": "58ae4483.78c63c",
        "type": "function",
        "z": "7042a3c5.55012c",
        "name": "SPEED",
        "func": "msg.payload = msg.payload.SPEED8;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "4808d6e9.75a318"
            ]
        ]
    }
]
