nodered.flow
[
    {
        "id": "6402009.0989",
        "type": "tab",
        "label": "M5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "913eb23d.1b408",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.SPEED",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "3164ebe1.c14554",
        "type": "mqtt in",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 420,
        "y": 640,
        "wires": [
            [
                "7a412f80.f17da"
            ]
        ]
    },
    {
        "id": "1d6b417b.4525bf",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.POS",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 500,
        "wires": []
    },
    {
        "id": "e6986f95.490da",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.HOME",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "b97ace85.59c08",
        "type": "ui_button",
        "z": "6402009.0989",
        "name": "",
        "group": "177692aa.af6dcd",
        "order": 7,
        "width": "1",
        "height": 1,
        "passthru": false,
        "label": "->",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "179200",
        "payloadType": "num",
        "topic": "",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "51ebdeb4.34e33"
            ]
        ]
    },
    {
        "id": "991d198d.a1b758",
        "type": "ui_button",
        "z": "6402009.0989",
        "name": "",
        "group": "177692aa.af6dcd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "HOME",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 430,
        "y": 140,
        "wires": [
            [
                "e6986f95.490da"
            ]
        ]
    },
    {
        "id": "2369b451.7c067c",
        "type": "ui_slider",
        "z": "6402009.0989",
        "name": "",
        "label": "SPEED",
        "tooltip": "",
        "group": "177692aa.af6dcd",
        "order": 2,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "x": 420,
        "y": 200,
        "wires": [
            [
                "913eb23d.1b408",
                "eca9b0ce.9e49f"
            ]
        ]
    },
    {
        "id": "7a412f80.f17da",
        "type": "ui_text",
        "z": "6402009.0989",
        "group": "177692aa.af6dcd",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RBV",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 590,
        "y": 640,
        "wires": []
    },
    {
        "id": "eca9b0ce.9e49f",
        "type": "ui_text",
        "z": "6402009.0989",
        "group": "177692aa.af6dcd",
        "order": 3,
        "width": 2,
        "height": 2,
        "name": "",
        "label": "Speed Feedback",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "cb9a4a75.6b0608",
        "type": "ui_button",
        "z": "6402009.0989",
        "name": "",
        "group": "177692aa.af6dcd",
        "order": 5,
        "width": "1",
        "height": 1,
        "passthru": false,
        "label": "<-",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "3200",
        "payloadType": "num",
        "topic": "",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "c5973b01.c22658"
            ]
        ]
    },
    {
        "id": "3d5ae2f7.002bae",
        "type": "ui_text_input",
        "z": "6402009.0989",
        "name": "",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "177692aa.af6dcd",
        "order": 6,
        "width": "4",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 410,
        "y": 440,
        "wires": [
            [
                "14bf19c7.94a196"
            ]
        ]
    },
    {
        "id": "14bf19c7.94a196",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 440,
        "wires": []
    },
    {
        "id": "51ebdeb4.34e33",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "c5973b01.c22658",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "4c6b4af2.cdc254",
        "type": "inject",
        "z": "6402009.0989",
        "name": "",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "3d5ae2f7.002bae"
            ]
        ]
    },
    {
        "id": "89018d3a.eb8a2",
        "type": "ui_slider",
        "z": "6402009.0989",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "177692aa.af6dcd",
        "order": 8,
        "width": 6,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0.5",
        "max": "28.5",
        "step": "0.1",
        "x": 430,
        "y": 500,
        "wires": [
            [
                "1d6b417b.4525bf"
            ]
        ]
    },
    {
        "id": "fa6bf9e1.601058",
        "type": "ui_text_input",
        "z": "6402009.0989",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "177692aa.af6dcd",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 430,
        "y": 560,
        "wires": [
            [
                "1d6b417b.4525bf"
            ]
        ]
    },
    {
        "id": "f9ae24c.72eadd8",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1030,
        "y": 180,
        "wires": []
    },
    {
        "id": "c46a3f44.b3aa4",
        "type": "ui_button",
        "z": "6402009.0989",
        "name": "",
        "group": "177692aa.af6dcd",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 180,
        "wires": [
            [
                "f9ae24c.72eadd8"
            ]
        ]
    },
    {
        "id": "c2f08031.8d347",
        "type": "inject",
        "z": "6402009.0989",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 780,
        "wires": [
            [
                "fd3bb520.1e2998"
            ]
        ]
    },
    {
        "id": "fd3bb520.1e2998",
        "type": "function",
        "z": "6402009.0989",
        "name": "",
        "func": "var status = flow.get(\"switch\");\nif (status == 1){\n    msg.payload = 0.5;\n    flow.set(\"switch\", 0);\n} else {\n    msg.payload = 28.5;\n    flow.set(\"switch\", 1);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "10290e60.b42012",
        "type": "inject",
        "z": "6402009.0989",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 270,
        "y": 740,
        "wires": [
            [
                "b87c06ab.251aa8"
            ]
        ]
    },
    {
        "id": "b87c06ab.251aa8",
        "type": "function",
        "z": "6402009.0989",
        "name": "",
        "func": "flow.set(\"switch\", 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "dfe929ef.6df7d8",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT_localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "177692aa.af6dcd",
        "type": "ui_group",
        "z": "",
        "name": "M5",
        "tab": "a5cda823.04cab8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a5cda823.04cab8",
        "type": "ui_tab",
        "z": "",
        "name": "Manipulator 2",
        "icon": "motorcycle",
        "disabled": false,
        "hidden": false
    }
]
