nodered.json
[
    {
        "id": "11799c79.eb1f94",
        "type": "tab",
        "label": "global",
        "disabled": false,
        "info": ""
    },
    {
        "id": "30b792f9.1f2dee",
        "type": "tab",
        "label": "M0",
        "disabled": false,
        "info": ""
    },
    {
        "id": "689779eb.671308",
        "type": "tab",
        "label": "M1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "999cc820.21fc58",
        "type": "tab",
        "label": "M2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b64919fd.2eda88",
        "type": "tab",
        "label": "M3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bf4e29d8.62d0f8",
        "type": "tab",
        "label": "M4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6402009.0989",
        "type": "tab",
        "label": "M5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dfe929ef.6df7d8",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT_localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "87c19ed9.910de",
        "type": "ui_tab",
        "z": "",
        "name": "Manipulator 1",
        "icon": "open_with",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4cc32132.0ec46",
        "type": "ui_group",
        "z": "",
        "name": "TMCM",
        "tab": "fb65fdd3.57124",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "e486589d.b784e8",
        "type": "ui_group",
        "z": "",
        "name": "M3",
        "tab": "a5cda823.04cab8",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": true
    },
    {
        "id": "bcebfdda.e294b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Printed Axis Manipulator PAM",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 48,
                "gy": 48,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b3211659.9456c8",
        "type": "ui_group",
        "z": "",
        "name": "GLOBAL",
        "tab": "a5cda823.04cab8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "177692aa.af6dcd",
        "type": "ui_group",
        "z": "",
        "name": "M5",
        "tab": "a5cda823.04cab8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "a5cda823.04cab8",
        "type": "ui_tab",
        "z": "",
        "name": "Manipulator 2",
        "icon": "motorcycle",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d1d91f2b.e84a7",
        "type": "ui_group",
        "z": "",
        "name": "M4",
        "tab": "a5cda823.04cab8",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": true
    },
    {
        "id": "b889f512.e1ec18",
        "type": "ui_group",
        "z": "",
        "name": "M0",
        "tab": "87c19ed9.910de",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true
    },
    {
        "id": "86850364.bdf55",
        "type": "ui_group",
        "z": "",
        "name": "M2",
        "tab": "87c19ed9.910de",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "fb65fdd3.57124",
        "type": "ui_tab",
        "z": "",
        "name": "Config",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9a2e54a1.2e84a8",
        "type": "ui_group",
        "z": "",
        "name": "Epics",
        "tab": "fb65fdd3.57124",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "914d04e9.425078",
        "type": "ui_group",
        "z": "",
        "name": "M1",
        "tab": "87c19ed9.910de",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4577b82e.0080e8",
        "type": "mqtt out",
        "z": "11799c79.eb1f94",
        "name": "",
        "topic": "SCAN",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 330,
        "y": 240,
        "wires": []
    },
    {
        "id": "b7863050.37949",
        "type": "inject",
        "z": "11799c79.eb1f94",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "4577b82e.0080e8"
            ]
        ]
    },
    {
        "id": "913eb23d.1b408",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.SPEED",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "3164ebe1.c14554",
        "type": "mqtt in",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 160,
        "y": 640,
        "wires": [
            [
                "7a412f80.f17da",
                "fa6bf9e1.601058",
                "89018d3a.eb8a2"
            ]
        ]
    },
    {
        "id": "1d6b417b.4525bf",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.POS",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 500,
        "wires": []
    },
    {
        "id": "e6986f95.490da",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.HOME",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "b97ace85.59c08",
        "type": "ui_button",
        "z": "6402009.0989",
        "name": "",
        "group": "177692aa.af6dcd",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "179200",
        "payloadType": "num",
        "topic": "",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "51ebdeb4.34e33"
            ]
        ]
    },
    {
        "id": "991d198d.a1b758",
        "type": "ui_button",
        "z": "6402009.0989",
        "name": "",
        "group": "177692aa.af6dcd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 430,
        "y": 140,
        "wires": [
            [
                "e6986f95.490da"
            ]
        ]
    },
    {
        "id": "2369b451.7c067c",
        "type": "ui_slider",
        "z": "6402009.0989",
        "name": "",
        "label": "SPEED",
        "tooltip": "",
        "group": "177692aa.af6dcd",
        "order": 2,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "x": 420,
        "y": 200,
        "wires": [
            [
                "913eb23d.1b408",
                "eca9b0ce.9e49f"
            ]
        ]
    },
    {
        "id": "7a412f80.f17da",
        "type": "ui_text",
        "z": "6402009.0989",
        "group": "177692aa.af6dcd",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Position RBV",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 610,
        "y": 640,
        "wires": []
    },
    {
        "id": "eca9b0ce.9e49f",
        "type": "ui_text",
        "z": "6402009.0989",
        "group": "177692aa.af6dcd",
        "order": 3,
        "width": 2,
        "height": 2,
        "name": "",
        "label": "VRB",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "cb9a4a75.6b0608",
        "type": "ui_button",
        "z": "6402009.0989",
        "name": "",
        "group": "177692aa.af6dcd",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "3200",
        "payloadType": "num",
        "topic": "",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "c5973b01.c22658"
            ]
        ]
    },
    {
        "id": "3d5ae2f7.002bae",
        "type": "ui_text_input",
        "z": "6402009.0989",
        "name": "",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "177692aa.af6dcd",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 410,
        "y": 440,
        "wires": [
            [
                "14bf19c7.94a196"
            ]
        ]
    },
    {
        "id": "14bf19c7.94a196",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 440,
        "wires": []
    },
    {
        "id": "51ebdeb4.34e33",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "c5973b01.c22658",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "M5.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "4c6b4af2.cdc254",
        "type": "inject",
        "z": "6402009.0989",
        "name": "",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "3d5ae2f7.002bae"
            ]
        ]
    },
    {
        "id": "89018d3a.eb8a2",
        "type": "ui_slider",
        "z": "6402009.0989",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "177692aa.af6dcd",
        "order": 8,
        "width": 6,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": "0.5",
        "max": "28.5",
        "step": "0.2",
        "x": 430,
        "y": 500,
        "wires": [
            [
                "1d6b417b.4525bf"
            ]
        ]
    },
    {
        "id": "fa6bf9e1.601058",
        "type": "ui_text_input",
        "z": "6402009.0989",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "177692aa.af6dcd",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 430,
        "y": 560,
        "wires": [
            [
                "1d6b417b.4525bf"
            ]
        ]
    },
    {
        "id": "1812e6f8.82d1c9",
        "type": "mqtt out",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "M4.SPEED",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "7279b1b.3e9625",
        "type": "mqtt in",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "M4.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "a85eb7c9.f76d48",
                "e2ce688b.b74028",
                "cb449a57.2bc488"
            ]
        ]
    },
    {
        "id": "1ffa3002.7e8ab",
        "type": "mqtt out",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "M4.POS",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "b7b2e15f.26d97",
        "type": "mqtt out",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "M4.HOME",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "e69dc89d.c3fdc8",
        "type": "ui_button",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "group": "d1d91f2b.e84a7",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "179200",
        "payloadType": "num",
        "topic": "",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "f31af134.55f5e"
            ]
        ]
    },
    {
        "id": "379028ce.46c318",
        "type": "ui_button",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "group": "d1d91f2b.e84a7",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "b7b2e15f.26d97"
            ]
        ]
    },
    {
        "id": "7b015f54.9eadb",
        "type": "ui_slider",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "label": "SPEED",
        "tooltip": "",
        "group": "d1d91f2b.e84a7",
        "order": 2,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "1812e6f8.82d1c9",
                "ed78607c.624a6"
            ]
        ]
    },
    {
        "id": "a85eb7c9.f76d48",
        "type": "ui_text",
        "z": "bf4e29d8.62d0f8",
        "group": "d1d91f2b.e84a7",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Position RBV",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 570,
        "y": 600,
        "wires": []
    },
    {
        "id": "ed78607c.624a6",
        "type": "ui_text",
        "z": "bf4e29d8.62d0f8",
        "group": "d1d91f2b.e84a7",
        "order": 3,
        "width": 2,
        "height": 2,
        "name": "",
        "label": "VRB",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "c3cc790e.114ba8",
        "type": "ui_button",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "group": "d1d91f2b.e84a7",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "3200",
        "payloadType": "num",
        "topic": "",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "8c78c8e4.fcca78"
            ]
        ]
    },
    {
        "id": "6418aa95.f53064",
        "type": "ui_text_input",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "d1d91f2b.e84a7",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 370,
        "y": 400,
        "wires": [
            [
                "d26e756.d7a7888"
            ]
        ]
    },
    {
        "id": "d26e756.d7a7888",
        "type": "mqtt out",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "M4.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 400,
        "wires": []
    },
    {
        "id": "f31af134.55f5e",
        "type": "mqtt out",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "M4.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "8c78c8e4.fcca78",
        "type": "mqtt out",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "M4.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 280,
        "wires": []
    },
    {
        "id": "6c47a626.def918",
        "type": "inject",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "6418aa95.f53064"
            ]
        ]
    },
    {
        "id": "cb449a57.2bc488",
        "type": "ui_slider",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "d1d91f2b.e84a7",
        "order": 8,
        "width": 6,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": "0.5",
        "max": "28.5",
        "step": "0.1",
        "x": 390,
        "y": 460,
        "wires": [
            [
                "1ffa3002.7e8ab"
            ]
        ]
    },
    {
        "id": "e2ce688b.b74028",
        "type": "ui_text_input",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "d1d91f2b.e84a7",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 390,
        "y": 520,
        "wires": [
            [
                "1ffa3002.7e8ab"
            ]
        ]
    },
    {
        "id": "601280b0.96c18",
        "type": "mqtt out",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "M3.SPEED",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "fe915a8a.931928",
        "type": "mqtt in",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "M3.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "5f37ddc6.49f194",
                "95239ea2.f9aed",
                "e329a3d1.d8851"
            ]
        ]
    },
    {
        "id": "f5cdedf3.a0c7a",
        "type": "mqtt out",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "M3.POS",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "abe1e8c9.ad93b8",
        "type": "mqtt out",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "M3.HOME",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "19d86690.cec0a9",
        "type": "ui_button",
        "z": "b64919fd.2eda88",
        "name": "",
        "group": "e486589d.b784e8",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "179200",
        "payloadType": "num",
        "topic": "",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "2a325e0e.3098c2"
            ]
        ]
    },
    {
        "id": "de3cbad8.2c9e48",
        "type": "ui_button",
        "z": "b64919fd.2eda88",
        "name": "",
        "group": "e486589d.b784e8",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "abe1e8c9.ad93b8"
            ]
        ]
    },
    {
        "id": "63dfad49.124604",
        "type": "ui_slider",
        "z": "b64919fd.2eda88",
        "name": "",
        "label": "SPEED",
        "tooltip": "",
        "group": "e486589d.b784e8",
        "order": 2,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "601280b0.96c18",
                "6070a8b9.d11bf8"
            ]
        ]
    },
    {
        "id": "5f37ddc6.49f194",
        "type": "ui_text",
        "z": "b64919fd.2eda88",
        "group": "e486589d.b784e8",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Position RBV",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "6070a8b9.d11bf8",
        "type": "ui_text",
        "z": "b64919fd.2eda88",
        "group": "e486589d.b784e8",
        "order": 3,
        "width": 2,
        "height": 2,
        "name": "",
        "label": "VRB",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "44b85cf8.b9b404",
        "type": "ui_button",
        "z": "b64919fd.2eda88",
        "name": "",
        "group": "e486589d.b784e8",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "3200",
        "payloadType": "num",
        "topic": "",
        "x": 370,
        "y": 280,
        "wires": [
            [
                "2cb9473c.88c568"
            ]
        ]
    },
    {
        "id": "b7ced326.549b6",
        "type": "ui_text_input",
        "z": "b64919fd.2eda88",
        "name": "",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "e486589d.b784e8",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "9b51fed0.b2bf2"
            ]
        ]
    },
    {
        "id": "9b51fed0.b2bf2",
        "type": "mqtt out",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "M3.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "2a325e0e.3098c2",
        "type": "mqtt out",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "M3.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 540,
        "y": 340,
        "wires": []
    },
    {
        "id": "2cb9473c.88c568",
        "type": "mqtt out",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "M3.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "274d3644.650b3a",
        "type": "inject",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "b7ced326.549b6"
            ]
        ]
    },
    {
        "id": "e329a3d1.d8851",
        "type": "ui_slider",
        "z": "b64919fd.2eda88",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "e486589d.b784e8",
        "order": 8,
        "width": 6,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": "0.5",
        "max": "28.5",
        "step": "0.1",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "f5cdedf3.a0c7a"
            ]
        ]
    },
    {
        "id": "95239ea2.f9aed",
        "type": "ui_text_input",
        "z": "b64919fd.2eda88",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "e486589d.b784e8",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "f5cdedf3.a0c7a"
            ]
        ]
    },
    {
        "id": "9dac82c9.e2b45",
        "type": "mqtt out",
        "z": "b64919fd.2eda88",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 950,
        "y": 100,
        "wires": []
    },
    {
        "id": "4d98181d.d800d8",
        "type": "ui_button",
        "z": "b64919fd.2eda88",
        "name": "",
        "group": "e486589d.b784e8",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 770,
        "y": 100,
        "wires": [
            [
                "9dac82c9.e2b45"
            ]
        ]
    },
    {
        "id": "4f7a82ba.565f8c",
        "type": "mqtt out",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 950,
        "y": 100,
        "wires": []
    },
    {
        "id": "d1b30324.ad614",
        "type": "ui_button",
        "z": "bf4e29d8.62d0f8",
        "name": "",
        "group": "d1d91f2b.e84a7",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 770,
        "y": 100,
        "wires": [
            [
                "4f7a82ba.565f8c"
            ]
        ]
    },
    {
        "id": "f9ae24c.72eadd8",
        "type": "mqtt out",
        "z": "6402009.0989",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1030,
        "y": 180,
        "wires": []
    },
    {
        "id": "c46a3f44.b3aa4",
        "type": "ui_button",
        "z": "6402009.0989",
        "name": "",
        "group": "177692aa.af6dcd",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 180,
        "wires": [
            [
                "f9ae24c.72eadd8"
            ]
        ]
    },
    {
        "id": "4b4432df.fb0dbc",
        "type": "mqtt out",
        "z": "689779eb.671308",
        "name": "",
        "topic": "M1.SPEED",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "eba39e5c.f0835",
        "type": "mqtt in",
        "z": "689779eb.671308",
        "name": "",
        "topic": "M1.RBV",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "4d22a2bc.5321ac",
                "dbfb2b0f.6802a8",
                "19c735db.6ba83a"
            ]
        ]
    },
    {
        "id": "b1528623.b9a348",
        "type": "mqtt out",
        "z": "689779eb.671308",
        "name": "",
        "topic": "M1.POS",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "96506a8.1f02098",
        "type": "mqtt out",
        "z": "689779eb.671308",
        "name": "",
        "topic": "M1.HOME",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "90d75252.30464",
        "type": "ui_button",
        "z": "689779eb.671308",
        "name": "",
        "group": "914d04e9.425078",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "179200",
        "payloadType": "num",
        "topic": "",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "d0dc5e8c.7a8e5"
            ]
        ]
    },
    {
        "id": "63610df6.42cae4",
        "type": "ui_button",
        "z": "689779eb.671308",
        "name": "",
        "group": "914d04e9.425078",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "96506a8.1f02098"
            ]
        ]
    },
    {
        "id": "73938500.d7b33c",
        "type": "ui_slider",
        "z": "689779eb.671308",
        "name": "",
        "label": "SPEED",
        "tooltip": "",
        "group": "914d04e9.425078",
        "order": 2,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "x": 380,
        "y": 220,
        "wires": [
            [
                "4b4432df.fb0dbc",
                "cce9d1e4.e4e85"
            ]
        ]
    },
    {
        "id": "4d22a2bc.5321ac",
        "type": "ui_text",
        "z": "689779eb.671308",
        "group": "914d04e9.425078",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Position RBV",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 570,
        "y": 660,
        "wires": []
    },
    {
        "id": "cce9d1e4.e4e85",
        "type": "ui_text",
        "z": "689779eb.671308",
        "group": "914d04e9.425078",
        "order": 3,
        "width": 2,
        "height": 2,
        "name": "",
        "label": "VRB",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "f2ae20e6.d778b",
        "type": "ui_button",
        "z": "689779eb.671308",
        "name": "",
        "group": "914d04e9.425078",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "3200",
        "payloadType": "num",
        "topic": "",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "732428da.b4ae58"
            ]
        ]
    },
    {
        "id": "a7ad9734.2d44b8",
        "type": "ui_text_input",
        "z": "689779eb.671308",
        "name": "",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "914d04e9.425078",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "1f075a94.ea8875"
            ]
        ]
    },
    {
        "id": "1f075a94.ea8875",
        "type": "mqtt out",
        "z": "689779eb.671308",
        "name": "",
        "topic": "M1.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "d0dc5e8c.7a8e5",
        "type": "mqtt out",
        "z": "689779eb.671308",
        "name": "",
        "topic": "M1.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 400,
        "wires": []
    },
    {
        "id": "732428da.b4ae58",
        "type": "mqtt out",
        "z": "689779eb.671308",
        "name": "",
        "topic": "M1.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "2f7ed319.de6a7c",
        "type": "inject",
        "z": "689779eb.671308",
        "name": "",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "a7ad9734.2d44b8"
            ]
        ]
    },
    {
        "id": "dbfb2b0f.6802a8",
        "type": "ui_slider",
        "z": "689779eb.671308",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "914d04e9.425078",
        "order": 7,
        "width": 6,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": "0.5",
        "max": "28.5",
        "step": "0.1",
        "x": 390,
        "y": 520,
        "wires": [
            [
                "b1528623.b9a348"
            ]
        ]
    },
    {
        "id": "19c735db.6ba83a",
        "type": "ui_text_input",
        "z": "689779eb.671308",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "914d04e9.425078",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 390,
        "y": 580,
        "wires": [
            [
                "b1528623.b9a348"
            ]
        ]
    },
    {
        "id": "61536347.7ce5ac",
        "type": "mqtt out",
        "z": "689779eb.671308",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 950,
        "y": 160,
        "wires": []
    },
    {
        "id": "7568de1c.8400c",
        "type": "ui_button",
        "z": "689779eb.671308",
        "name": "",
        "group": "914d04e9.425078",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 770,
        "y": 160,
        "wires": [
            [
                "61536347.7ce5ac"
            ]
        ]
    },
    {
        "id": "8f4167a1.dc1ac8",
        "type": "mqtt out",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "M0.SPEED",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "c0122ef9.f7d13",
        "type": "mqtt in",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "M0.RBV",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "e54578d9.f54d28",
                "77fce972.aaa0d8",
                "503cd6a9.0bb8d8"
            ]
        ]
    },
    {
        "id": "38b144f0.8ba30c",
        "type": "mqtt out",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "M0.POS",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "6779b740.4dc928",
        "type": "mqtt out",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "M0.HOME",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "2e9beae3.77d1a6",
        "type": "ui_button",
        "z": "30b792f9.1f2dee",
        "name": "",
        "group": "b889f512.e1ec18",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "179200",
        "payloadType": "num",
        "topic": "",
        "x": 390,
        "y": 360,
        "wires": [
            [
                "46e789e2.c7e828"
            ]
        ]
    },
    {
        "id": "59a71a21.311ee4",
        "type": "ui_button",
        "z": "30b792f9.1f2dee",
        "name": "",
        "group": "b889f512.e1ec18",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "6779b740.4dc928"
            ]
        ]
    },
    {
        "id": "d00f6f4e.97389",
        "type": "ui_slider",
        "z": "30b792f9.1f2dee",
        "name": "",
        "label": "SPEED",
        "tooltip": "",
        "group": "b889f512.e1ec18",
        "order": 2,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "8f4167a1.dc1ac8",
                "e9d74db9.50aa1"
            ]
        ]
    },
    {
        "id": "e54578d9.f54d28",
        "type": "ui_text",
        "z": "30b792f9.1f2dee",
        "group": "b889f512.e1ec18",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Position RBV",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 570,
        "y": 620,
        "wires": []
    },
    {
        "id": "e9d74db9.50aa1",
        "type": "ui_text",
        "z": "30b792f9.1f2dee",
        "group": "b889f512.e1ec18",
        "order": 3,
        "width": 2,
        "height": 2,
        "name": "",
        "label": "VRB",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "ddb0d7a2.681888",
        "type": "ui_button",
        "z": "30b792f9.1f2dee",
        "name": "",
        "group": "b889f512.e1ec18",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "3200",
        "payloadType": "num",
        "topic": "",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "bd0007ec.e24ec8"
            ]
        ]
    },
    {
        "id": "ba48b91c.a42948",
        "type": "ui_text_input",
        "z": "30b792f9.1f2dee",
        "name": "",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "b889f512.e1ec18",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 370,
        "y": 420,
        "wires": [
            [
                "da80cd5.92fb63"
            ]
        ]
    },
    {
        "id": "da80cd5.92fb63",
        "type": "mqtt out",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "M0.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 420,
        "wires": []
    },
    {
        "id": "46e789e2.c7e828",
        "type": "mqtt out",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "M0.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 360,
        "wires": []
    },
    {
        "id": "bd0007ec.e24ec8",
        "type": "mqtt out",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "M0.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "73edc710.a07bb8",
        "type": "inject",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 420,
        "wires": [
            [
                "ba48b91c.a42948"
            ]
        ]
    },
    {
        "id": "77fce972.aaa0d8",
        "type": "ui_slider",
        "z": "30b792f9.1f2dee",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "b889f512.e1ec18",
        "order": 7,
        "width": 6,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": "0.5",
        "max": "28.5",
        "step": "0.1",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "38b144f0.8ba30c"
            ]
        ]
    },
    {
        "id": "503cd6a9.0bb8d8",
        "type": "ui_text_input",
        "z": "30b792f9.1f2dee",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "b889f512.e1ec18",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 390,
        "y": 540,
        "wires": [
            [
                "38b144f0.8ba30c"
            ]
        ]
    },
    {
        "id": "8bbe4959.710c98",
        "type": "mqtt out",
        "z": "30b792f9.1f2dee",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "f56d205d.ea377",
        "type": "ui_button",
        "z": "30b792f9.1f2dee",
        "name": "",
        "group": "b889f512.e1ec18",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 770,
        "y": 120,
        "wires": [
            [
                "8bbe4959.710c98"
            ]
        ]
    },
    {
        "id": "6650c9f1.988558",
        "type": "mqtt out",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "M2.SPEED",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "b6864492.ddeeb8",
        "type": "mqtt in",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "M2.RBV",
        "qos": "0",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 80,
        "y": 640,
        "wires": [
            [
                "1fe5a1c6.e4365e",
                "48b5cdbd.a81084",
                "da43bfd7.6306a"
            ]
        ]
    },
    {
        "id": "5592b50b.330d9c",
        "type": "mqtt out",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "M2.POS",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 520,
        "y": 500,
        "wires": []
    },
    {
        "id": "10afdc5.3bf0824",
        "type": "mqtt out",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "M2.HOME",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "67d63067.34cf9",
        "type": "ui_button",
        "z": "999cc820.21fc58",
        "name": "",
        "group": "86850364.bdf55",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "179200",
        "payloadType": "num",
        "topic": "",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "451936d9.52f4d8"
            ]
        ]
    },
    {
        "id": "3cd8a2b4.cbe01e",
        "type": "ui_button",
        "z": "999cc820.21fc58",
        "name": "",
        "group": "86850364.bdf55",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "10afdc5.3bf0824"
            ]
        ]
    },
    {
        "id": "c03f7336.a3596",
        "type": "ui_slider",
        "z": "999cc820.21fc58",
        "name": "",
        "label": "SPEED",
        "tooltip": "",
        "group": "86850364.bdf55",
        "order": 2,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "6650c9f1.988558",
                "23424dfa.0e9f72"
            ]
        ]
    },
    {
        "id": "1fe5a1c6.e4365e",
        "type": "ui_text",
        "z": "999cc820.21fc58",
        "group": "86850364.bdf55",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Position RBV",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 530,
        "y": 640,
        "wires": []
    },
    {
        "id": "23424dfa.0e9f72",
        "type": "ui_text",
        "z": "999cc820.21fc58",
        "group": "86850364.bdf55",
        "order": 3,
        "width": 2,
        "height": 2,
        "name": "",
        "label": "VRB",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "20921c39.4b4a94",
        "type": "ui_button",
        "z": "999cc820.21fc58",
        "name": "",
        "group": "86850364.bdf55",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "3200",
        "payloadType": "num",
        "topic": "",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "efa52a4c.158b58"
            ]
        ]
    },
    {
        "id": "a5ebc54c.d13f08",
        "type": "ui_text_input",
        "z": "999cc820.21fc58",
        "name": "",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "86850364.bdf55",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "8cbee014.0239"
            ]
        ]
    },
    {
        "id": "8cbee014.0239",
        "type": "mqtt out",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "M2.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 520,
        "y": 440,
        "wires": []
    },
    {
        "id": "451936d9.52f4d8",
        "type": "mqtt out",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "M2.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 520,
        "y": 380,
        "wires": []
    },
    {
        "id": "efa52a4c.158b58",
        "type": "mqtt out",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "M2.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "7968cfa8.2fa3d",
        "type": "inject",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 90,
        "y": 440,
        "wires": [
            [
                "a5ebc54c.d13f08"
            ]
        ]
    },
    {
        "id": "48b5cdbd.a81084",
        "type": "ui_slider",
        "z": "999cc820.21fc58",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "86850364.bdf55",
        "order": 7,
        "width": 6,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": "0.5",
        "max": "28.5",
        "step": "0.1",
        "x": 350,
        "y": 500,
        "wires": [
            [
                "5592b50b.330d9c"
            ]
        ]
    },
    {
        "id": "da43bfd7.6306a",
        "type": "ui_text_input",
        "z": "999cc820.21fc58",
        "name": "",
        "label": "POS [mm]",
        "tooltip": "",
        "group": "86850364.bdf55",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 350,
        "y": 560,
        "wires": [
            [
                "5592b50b.330d9c"
            ]
        ]
    },
    {
        "id": "3b310354.533fdc",
        "type": "mqtt out",
        "z": "999cc820.21fc58",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 910,
        "y": 140,
        "wires": []
    },
    {
        "id": "c6ffddb.2df3d2",
        "type": "ui_button",
        "z": "999cc820.21fc58",
        "name": "",
        "group": "86850364.bdf55",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 730,
        "y": 140,
        "wires": [
            [
                "3b310354.533fdc"
            ]
        ]
    },
    {
        "id": "813f7541.0569f8",
        "type": "ui_button",
        "z": "11799c79.eb1f94",
        "name": "",
        "group": "4cc32132.0ec46",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start TMCM",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "3958bc77.6fad14"
            ]
        ]
    },
    {
        "id": "74a57c53.444be4",
        "type": "ui_button",
        "z": "11799c79.eb1f94",
        "name": "",
        "group": "9a2e54a1.2e84a8",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Epics",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "62893016.54c91"
            ]
        ]
    },
    {
        "id": "3958bc77.6fad14",
        "type": "exec",
        "z": "11799c79.eb1f94",
        "command": "python3 /home/pi/pam/pam.py",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "4bd2ea01.4a8b14"
            ],
            [],
            []
        ]
    },
    {
        "id": "4bd2ea01.4a8b14",
        "type": "ui_text",
        "z": "11799c79.eb1f94",
        "group": "4cc32132.0ec46",
        "order": 12,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "msgTMCM",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "d2d99d8b.a51f6",
        "type": "ui_text",
        "z": "11799c79.eb1f94",
        "group": "9a2e54a1.2e84a8",
        "order": 12,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "msgEpics",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 480,
        "wires": []
    },
    {
        "id": "62893016.54c91",
        "type": "exec",
        "z": "11799c79.eb1f94",
        "command": "python /home/pi/pam/epicsDriver.py",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 420,
        "y": 480,
        "wires": [
            [
                "d2d99d8b.a51f6"
            ],
            [
                "d2d99d8b.a51f6"
            ],
            [
                "d2d99d8b.a51f6"
            ]
        ]
    },
    {
        "id": "f0c6606.3c026a",
        "type": "ui_button",
        "z": "11799c79.eb1f94",
        "name": "",
        "group": "4cc32132.0ec46",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "StopTMCM",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "b62f8033.be48f"
            ]
        ]
    },
    {
        "id": "b62f8033.be48f",
        "type": "exec",
        "z": "11799c79.eb1f94",
        "command": "sudo killall python3",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 470,
        "y": 400,
        "wires": [
            [
                "4bd2ea01.4a8b14"
            ],
            [],
            []
        ]
    },
    {
        "id": "c40bf1a3.5e845",
        "type": "ui_button",
        "z": "11799c79.eb1f94",
        "name": "",
        "group": "9a2e54a1.2e84a8",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Epics",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "fc08877.0809478"
            ]
        ]
    },
    {
        "id": "fc08877.0809478",
        "type": "exec",
        "z": "11799c79.eb1f94",
        "command": "sudo killall python",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 540,
        "wires": [
            [
                "d2d99d8b.a51f6"
            ],
            [
                "d2d99d8b.a51f6"
            ],
            [
                "d2d99d8b.a51f6"
            ]
        ]
    }
]
