nodered.json
[
    {
        "id": "bc94169e.f793d8",
        "type": "tab",
        "label": "Overview",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6cd65557.855dfc",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M0.TWF",
        "group": "e488bfac.368a6",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 80,
        "y": 120,
        "wires": [
            [
                "9dfb7485.6fcf98"
            ]
        ]
    },
    {
        "id": "ae5e889d.ea1348",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M0.TWR",
        "group": "e488bfac.368a6",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 80,
        "y": 60,
        "wires": [
            [
                "39b4732f.ee5c7c"
            ]
        ]
    },
    {
        "id": "eca6a65c.6f8f48",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M0.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "e488bfac.368a6",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "33db58e3.12d368"
            ]
        ]
    },
    {
        "id": "33db58e3.12d368",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M0.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "9dfb7485.6fcf98",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M0.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 240,
        "y": 120,
        "wires": []
    },
    {
        "id": "39b4732f.ee5c7c",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M0.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 240,
        "y": 60,
        "wires": []
    },
    {
        "id": "d00896e8.bf7e38",
        "type": "inject",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 70,
        "y": 180,
        "wires": [
            [
                "eca6a65c.6f8f48"
            ]
        ]
    },
    {
        "id": "264083a0.d1e4dc",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M0.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 60,
        "y": 240,
        "wires": [
            [
                "54763945.2837f8"
            ]
        ]
    },
    {
        "id": "54763945.2837f8",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "e488bfac.368a6",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "M0.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 300,
        "y": 240,
        "wires": []
    },
    {
        "id": "d6a6ef12.5264b",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M1.TWF",
        "group": "e488bfac.368a6",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 80,
        "y": 380,
        "wires": [
            [
                "b7382784.d92c48"
            ]
        ]
    },
    {
        "id": "af796a84.c27258",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M1.TWR",
        "group": "e488bfac.368a6",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 80,
        "y": 320,
        "wires": [
            [
                "526bbdb.53c8c44"
            ]
        ]
    },
    {
        "id": "2a42b0a8.0fd13",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M1.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "e488bfac.368a6",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "5f329fb4.b2db6"
            ]
        ]
    },
    {
        "id": "5f329fb4.b2db6",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M1.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 500,
        "y": 440,
        "wires": []
    },
    {
        "id": "b7382784.d92c48",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M1.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 240,
        "y": 380,
        "wires": []
    },
    {
        "id": "526bbdb.53c8c44",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M1.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 240,
        "y": 320,
        "wires": []
    },
    {
        "id": "46bd43ea.00502c",
        "type": "inject",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 70,
        "y": 440,
        "wires": [
            [
                "2a42b0a8.0fd13"
            ]
        ]
    },
    {
        "id": "dcc23b3e.d70368",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M1.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 60,
        "y": 500,
        "wires": [
            [
                "19cbe108.4fddcf"
            ]
        ]
    },
    {
        "id": "19cbe108.4fddcf",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "e488bfac.368a6",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "M1.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 300,
        "y": 500,
        "wires": []
    },
    {
        "id": "e2b01c4f.9099c",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M2.TWF",
        "group": "e488bfac.368a6",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 80,
        "y": 640,
        "wires": [
            [
                "16c2aa41.286556"
            ]
        ]
    },
    {
        "id": "e1ff8035.26027",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M2.TWR",
        "group": "e488bfac.368a6",
        "order": 12,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 80,
        "y": 580,
        "wires": [
            [
                "92be73fe.c5b74"
            ]
        ]
    },
    {
        "id": "4d8df09e.374d",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M2.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "e488bfac.368a6",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 300,
        "y": 700,
        "wires": [
            [
                "7b50d5ae.ca957c"
            ]
        ]
    },
    {
        "id": "7b50d5ae.ca957c",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M2.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 500,
        "y": 700,
        "wires": []
    },
    {
        "id": "16c2aa41.286556",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M2.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 240,
        "y": 640,
        "wires": []
    },
    {
        "id": "92be73fe.c5b74",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M2.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 240,
        "y": 580,
        "wires": []
    },
    {
        "id": "96f81225.721af",
        "type": "inject",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 70,
        "y": 700,
        "wires": [
            [
                "4d8df09e.374d"
            ]
        ]
    },
    {
        "id": "ddb565b4.085768",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M2.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 60,
        "y": 760,
        "wires": [
            [
                "1547095.30f0af7"
            ]
        ]
    },
    {
        "id": "1547095.30f0af7",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "e488bfac.368a6",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "M2.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 300,
        "y": 760,
        "wires": []
    },
    {
        "id": "44e9a164.51039",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "cb8b6d6b.5b60c",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "M5.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 900,
        "y": 760,
        "wires": []
    },
    {
        "id": "55df6480.67a13c",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M4.TWF",
        "group": "cb8b6d6b.5b60c",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 700,
        "y": 380,
        "wires": [
            [
                "c9744341.e3b"
            ]
        ]
    },
    {
        "id": "bd933359.8e6a6",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M4.TWR",
        "group": "cb8b6d6b.5b60c",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 700,
        "y": 320,
        "wires": [
            [
                "7447b442.74c9cc"
            ]
        ]
    },
    {
        "id": "f465b038.5ec07",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M4.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "cb8b6d6b.5b60c",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 920,
        "y": 440,
        "wires": [
            [
                "9dc755a8.c61cb8"
            ]
        ]
    },
    {
        "id": "9dc755a8.c61cb8",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M4.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1120,
        "y": 440,
        "wires": []
    },
    {
        "id": "c9744341.e3b",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M4.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 860,
        "y": 380,
        "wires": []
    },
    {
        "id": "7447b442.74c9cc",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M4.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 860,
        "y": 320,
        "wires": []
    },
    {
        "id": "d97ee4c8.c11ba8",
        "type": "inject",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 690,
        "y": 440,
        "wires": [
            [
                "f465b038.5ec07"
            ]
        ]
    },
    {
        "id": "427cd7df.492718",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M4.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 680,
        "y": 500,
        "wires": [
            [
                "b841922.014b27"
            ]
        ]
    },
    {
        "id": "b841922.014b27",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "cb8b6d6b.5b60c",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "M4.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 920,
        "y": 500,
        "wires": []
    },
    {
        "id": "d4c05f3a.9caa1",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M3.TWF",
        "group": "cb8b6d6b.5b60c",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 700,
        "y": 120,
        "wires": [
            [
                "88352f9d.a0ade"
            ]
        ]
    },
    {
        "id": "2f0ed3e1.66e5fc",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M3.TWR",
        "group": "cb8b6d6b.5b60c",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 700,
        "y": 60,
        "wires": [
            [
                "183b21d1.b409fe"
            ]
        ]
    },
    {
        "id": "3ec9298a.d0e846",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M3.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "cb8b6d6b.5b60c",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 920,
        "y": 180,
        "wires": [
            [
                "786854d3.e6e44c"
            ]
        ]
    },
    {
        "id": "786854d3.e6e44c",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M3.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1120,
        "y": 180,
        "wires": []
    },
    {
        "id": "88352f9d.a0ade",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M3.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 860,
        "y": 120,
        "wires": []
    },
    {
        "id": "183b21d1.b409fe",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M3.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 860,
        "y": 60,
        "wires": []
    },
    {
        "id": "be32225c.ba96",
        "type": "inject",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "3ec9298a.d0e846"
            ]
        ]
    },
    {
        "id": "634f7b8b.2906d4",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M3.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 680,
        "y": 240,
        "wires": [
            [
                "54c24b14.2a3674"
            ]
        ]
    },
    {
        "id": "54c24b14.2a3674",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "cb8b6d6b.5b60c",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "M3.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 920,
        "y": 240,
        "wires": []
    },
    {
        "id": "ce0d27f3.320c48",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M5.TWF",
        "group": "cb8b6d6b.5b60c",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 680,
        "y": 640,
        "wires": [
            [
                "f1e2b483.f7f278"
            ]
        ]
    },
    {
        "id": "df2d188b.e54558",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M5.TWR",
        "group": "cb8b6d6b.5b60c",
        "order": 12,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 680,
        "y": 580,
        "wires": [
            [
                "1aec7098.775f8f"
            ]
        ]
    },
    {
        "id": "57f1168e.4a5188",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M5.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "cb8b6d6b.5b60c",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 900,
        "y": 700,
        "wires": [
            [
                "a0c7cab9.bbb658"
            ]
        ]
    },
    {
        "id": "a0c7cab9.bbb658",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M5.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1100,
        "y": 700,
        "wires": []
    },
    {
        "id": "f1e2b483.f7f278",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M5.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 840,
        "y": 640,
        "wires": []
    },
    {
        "id": "1aec7098.775f8f",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M5.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 840,
        "y": 580,
        "wires": []
    },
    {
        "id": "d47ed67f.0c50f8",
        "type": "inject",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 670,
        "y": 700,
        "wires": [
            [
                "57f1168e.4a5188"
            ]
        ]
    },
    {
        "id": "3603fff1.ec78c",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M5.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 660,
        "y": 760,
        "wires": [
            [
                "44e9a164.51039"
            ]
        ]
    },
    {
        "id": "347c9121.f72f5e",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "3b88a5a.72e5c5a",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "M8.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 1560,
        "y": 760,
        "wires": []
    },
    {
        "id": "8a77f731.2a63e8",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M7.TWF",
        "group": "3b88a5a.72e5c5a",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 1360,
        "y": 380,
        "wires": [
            [
                "dc68700.302f09"
            ]
        ]
    },
    {
        "id": "835df27b.2a38a",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M7.TWR",
        "group": "3b88a5a.72e5c5a",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 1360,
        "y": 320,
        "wires": [
            [
                "6e3f0ac9.5c96e4"
            ]
        ]
    },
    {
        "id": "75c4a6fa.678958",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M7.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "3b88a5a.72e5c5a",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 1580,
        "y": 440,
        "wires": [
            [
                "79ce3e3.03fb7c"
            ]
        ]
    },
    {
        "id": "79ce3e3.03fb7c",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M7.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1780,
        "y": 440,
        "wires": []
    },
    {
        "id": "dc68700.302f09",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M7.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1520,
        "y": 380,
        "wires": []
    },
    {
        "id": "6e3f0ac9.5c96e4",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M7.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1520,
        "y": 320,
        "wires": []
    },
    {
        "id": "2aa0f893.87e988",
        "type": "inject",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 1350,
        "y": 440,
        "wires": [
            [
                "75c4a6fa.678958"
            ]
        ]
    },
    {
        "id": "f9f1e77a.e27cd8",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M7.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 1340,
        "y": 500,
        "wires": [
            [
                "5d64671d.0cbe58"
            ]
        ]
    },
    {
        "id": "5d64671d.0cbe58",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "3b88a5a.72e5c5a",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "M7.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 1580,
        "y": 500,
        "wires": []
    },
    {
        "id": "ab8ab61e.933d88",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M6.TWF",
        "group": "3b88a5a.72e5c5a",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 1360,
        "y": 120,
        "wires": [
            [
                "c8d04e01.dbf09"
            ]
        ]
    },
    {
        "id": "e76c5e23.1e7c9",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M6.TWR",
        "group": "3b88a5a.72e5c5a",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 1360,
        "y": 60,
        "wires": [
            [
                "4b26e006.936a3"
            ]
        ]
    },
    {
        "id": "491b880c.b17168",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M6.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "3b88a5a.72e5c5a",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 1580,
        "y": 180,
        "wires": [
            [
                "8119c25f.5b6cf"
            ]
        ]
    },
    {
        "id": "8119c25f.5b6cf",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M6.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1780,
        "y": 180,
        "wires": []
    },
    {
        "id": "c8d04e01.dbf09",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M6.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1520,
        "y": 120,
        "wires": []
    },
    {
        "id": "4b26e006.936a3",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M6.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1520,
        "y": 60,
        "wires": []
    },
    {
        "id": "b1006066.3c1eb",
        "type": "inject",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 1350,
        "y": 180,
        "wires": [
            [
                "491b880c.b17168"
            ]
        ]
    },
    {
        "id": "306e6195.60cb2e",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M6.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 1340,
        "y": 240,
        "wires": [
            [
                "d43d0caa.d25eb"
            ]
        ]
    },
    {
        "id": "d43d0caa.d25eb",
        "type": "ui_text",
        "z": "bc94169e.f793d8",
        "group": "3b88a5a.72e5c5a",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "M6.RBV",
        "label": "Position RBV",
        "format": "{{msg.payload}} mm",
        "layout": "row-spread",
        "x": 1580,
        "y": 240,
        "wires": []
    },
    {
        "id": "7cf22731.c57df8",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M8.TWF",
        "group": "3b88a5a.72e5c5a",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_next",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 1340,
        "y": 640,
        "wires": [
            [
                "6e0cd8c5.9a3b68"
            ]
        ]
    },
    {
        "id": "bf10b630.0082d8",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "M8.TWR",
        "group": "3b88a5a.72e5c5a",
        "order": 12,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "skip_previous",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 1340,
        "y": 580,
        "wires": [
            [
                "fa4c757c.ab5918"
            ]
        ]
    },
    {
        "id": "269aa7cb.ca1368",
        "type": "ui_text_input",
        "z": "bc94169e.f793d8",
        "name": "M8.TWV",
        "label": "TWV [mm]",
        "tooltip": "",
        "group": "3b88a5a.72e5c5a",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 1560,
        "y": 700,
        "wires": [
            [
                "2a125d68.05ee32"
            ]
        ]
    },
    {
        "id": "2a125d68.05ee32",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M8.TWV",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1760,
        "y": 700,
        "wires": []
    },
    {
        "id": "6e0cd8c5.9a3b68",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M8.TWF",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1500,
        "y": 640,
        "wires": []
    },
    {
        "id": "fa4c757c.ab5918",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M8.TWR",
        "qos": "0",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 1500,
        "y": 580,
        "wires": []
    },
    {
        "id": "8fb7f638.5e6b28",
        "type": "inject",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "",
        "payload": "1.0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 1330,
        "y": 700,
        "wires": [
            [
                "269aa7cb.ca1368"
            ]
        ]
    },
    {
        "id": "de192157.e7186",
        "type": "mqtt in",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "M8.RBV",
        "qos": "2",
        "datatype": "auto",
        "broker": "dfe929ef.6df7d8",
        "x": 1320,
        "y": 760,
        "wires": [
            [
                "347c9121.f72f5e"
            ]
        ]
    },
    {
        "id": "40a9a210.86270c",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 270,
        "y": 900,
        "wires": []
    },
    {
        "id": "81db49e6.e64d78",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "",
        "group": "e488bfac.368a6",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 900,
        "wires": [
            [
                "40a9a210.86270c"
            ]
        ]
    },
    {
        "id": "e9904251.dc02",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 270,
        "y": 960,
        "wires": []
    },
    {
        "id": "30d600b2.09a83",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "",
        "group": "cb8b6d6b.5b60c",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 960,
        "wires": [
            [
                "e9904251.dc02"
            ]
        ]
    },
    {
        "id": "12084b97.8ac364",
        "type": "mqtt out",
        "z": "bc94169e.f793d8",
        "name": "",
        "topic": "STOP",
        "qos": "2",
        "retain": "",
        "broker": "dfe929ef.6df7d8",
        "x": 270,
        "y": 1020,
        "wires": []
    },
    {
        "id": "5c959afd.3aebc4",
        "type": "ui_button",
        "z": "bc94169e.f793d8",
        "name": "",
        "group": "3b88a5a.72e5c5a",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 1020,
        "wires": [
            [
                "12084b97.8ac364"
            ]
        ]
    },
    {
        "id": "e488bfac.368a6",
        "type": "ui_group",
        "z": "",
        "name": "Manipulator 1",
        "tab": "c23afc36.ac58f",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "dfe929ef.6df7d8",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT_localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "cb8b6d6b.5b60c",
        "type": "ui_group",
        "z": "",
        "name": "Manipulator 2",
        "tab": "c23afc36.ac58f",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "3b88a5a.72e5c5a",
        "type": "ui_group",
        "z": "",
        "name": "Manipulator 3",
        "tab": "c23afc36.ac58f",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "c23afc36.ac58f",
        "type": "ui_tab",
        "z": "",
        "name": "Overview",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
